.catalog
    flex 0 1 auto
    padding-top 40px
    max-width 100vw
    width 100%
.catalogHeader
    position relative
    +below(768px)
        box vertical center
    h2
        color #000
        font-family 'Oswald', sans-serif
        font-size 18px
        font-weight 400
        line-height 38px
        font-variant small-caps
        text-align center
        margin-bottom 40px
        +below(768px)
            margin-bottom 10px
.catalogHeaderSort
    position absolute
    right 30px
    top 0
    width 350px
    +below(768px)
        position relative
        flex 0 1 auto
        width 300px
        right 0
        margin-bottom 20px
.catalogItems
    box horizontal middle
    flex-wrap wrap
    padding 0 20px
