.product
    display block
    size 100% calc(100vh - 222px)
    min-height 650px
    position relative
    z-index 900
    background-color #fff
    +below(600px)
        height 100% !important
    &Wrap
        height 100%
        box horizontal middle
        +below(600px)
            box vertical top left
            height auto

.productLine
    size 100% 20px
    background-color #cdc4bd
.productPhoto
    flex 0 1 auto
    align-self stretch
    position relative
    size calc(100% - 380px) 100%
    box vertical top left
    +below(600px)
        size 100vw 500px
.productSlider
    size 100% calc(100% - 100px)
    max-height calc(100% - 100px)
    +below(600px)
        size 100%
        height 100vw

.productSlide
    size 100%
    box vertical middle center
    img
        max-width 100%
    +below(600px)
        img
            size 100% auto
.productThumb
    padding 0 0 0 54px
    box horizontal middle
    +below(600px)
        box horizontal middle center
        flex 1 1 auto
        height 100px
        min-height 100px
        width 100%
        padding 0
        img
            max-height 55px
.productInfo
    flex 0 1 auto
    position relative
    size 100%
    align-self stretch
    background-color #f3f0ef
    box vertical top
    +below(600px)
        height auto
    &Wrap
        flex 1 1 auto
        box vertical top
        padding 25px 40px 10px
.productModel
    margin-bottom 15px
    font-family 'Oxygen', sans-serif
    font-size 17px
    font-weight 400
    line-height 20px
    font-variant small-caps
    color #000
    span
        color #7e7166
        padding-right 8px
        border-right 1px solid #7e7166
        margin-right 8px

.productName
    width 100%
    padding-bottom 15px
    margin-bottom 15px
    border-bottom 1px solid #828282
    color #000
    font-family 'Montserrat', sans-serif
    font-size 23px
    font-weight 400
    line-height 29px
    font-variant small-caps

.productPrices
    width 100%
    padding-bottom 15px
    margin-bottom 15px
    border-bottom 1px solid #828282
.productPriceRow
    box horizontal middle space-between
    margin-bottom 10px
.productPrice
    font-family 'Montserrat', sans-serif
    color #000
    font-size 21px
    font-weight 400
    line-height 40px
.productBadge
    width 75px
    height 17px
    background-color #000
    box vertical middle center
    padding 4px 0
    &Text
        color #fff
        font-family 'Oswald', sans-serif
        font-size 12px
        font-weight 400
        font-variant small-caps

.productBadgeNew
    background-color #000
    .productBadgeText
        color #fff

.productBadgeSoon
    background-color #847d79
    .productBadgeText
        color #fff

.productBadgeSale
    background-color #d5a231
    .productBadgeText
        color #fff

.productBadgeSoldOut
    background-color #fff
    border 1px solid rgba(0, 0, 0, 0.23)
    .productBadgeText
        color #000

.productPriceTax
    font-family 'Oxygen', sans-serif
    font-size 14px
    font-weight 400
    line-height 24px

.productDetail
    display block
    width 100%
    margin-bottom 20px
    &Title
        margin-bottom 10px
        font-family 'Oxygen', sans-serif
        font-size 18px
        font-weight 400
        line-height 24px
    &Text
        font-family 'Oxygen', sans-serif
        font-size 12px
        font-weight 400
        line-height 18px

.productSizes
    box horizontal middle left
    flex-wrap wrap
.productSizeLabel
    //flex 1 1 auto
    // height 34px
    // min-width 33%
    width 100%
    height 100%
    // margin-right 1px
    // margin-bottom 1px
    outline 0
    border 0
    //background-color #000
    font-family 'Oswald', sans-serif
    font-size 12px
    font-weight 400
    color #FFF
    box vertical middle center

.productSizeItem
    flex 0 1 auto
    lost-column 1/3 3 1px flex
    height 34px
    min-width 33%
    height 34px
    margin-right 1px
    margin-bottom 1px
    background-color #000
    box vertical middle center
    input
        position: absolute;
        visibility: hidden;
    input:checked + label
        border 1px solid #000
        background-color #fff
        color #000
.productInfoAdd
    flex 0 1 auto
    width 100%
    box horizontal middle space-between
    //align-self flex-end
.addCart
    border 0
    outline 0
    box horizontal middle space-between
    width 100%
    height 90px
    padding 0 65px
    background-color #d5a231
    cursor pointer
    &Icon
        svg
            size 50px
            fill #fff
    &Text
        font-family 'Oxygen', sans-serif
        color #fff
        font-size 19px
        font-weight 400
        text-transform uppercase

.productInfoNote
    font-family 'Oxygen', sans-serif
    font-size 12px
    font-weight 400
    line-height 18px
    padding 15px 40px
