.productCard
    flex 1 1 auto
    min-width 375px
    //width calc(25% - 18px)
    margin 0 9px
    box vertical top left
    position relative
    margin-bottom 30px
    text-decoration none
    +below(768px)
        min-width 300px
.productCardBadge
    display block
    position absolute
    right 10px
    width 75px
    top 16px
    height 17px
    background-color #000
    box vertical middle center
    padding 4px 0
    &Text
        color #fff
        font-family 'Oswald', sans-serif
        font-size 12px
        font-weight 400
        font-variant small-caps

.productCardBadgeNew
    background-color #000
    .productCardBadgeText
        color #fff

.productCardBadgeSoon
    background-color #847d79
    .productCardBadgeText
        color #fff

.productCardBadgeSale
    background-color #d5a231
    .productCardBadgeText
        color #fff

.productCardBadgeSoldOut
    background-color #fff
    border 1px solid rgba(0, 0, 0, 0.23)
    .productCardBadgeText
        color #000

.productCardImage
    background-color #f7f7f7
    height 230px
    width 100%
    box vertical middle center
    margin-bottom 23px

.productCardDescription
    flex 0 1 auto
    width 100%

.productCardName
    width calc(100% - 73px)
    color #000
    font-family 'Oswald', sans-serif
    font-size 12px
    font-weight 400
    line-height 38px
    font-variant small-caps
    border-bottom 1px solid #7e7e7e

.productCardBrand
    width calc(100% - 73px)
    color #000
    font-family 'Oswald', sans-serif
    font-size 12px
    font-weight 400
    line-height 38px
    font-variant small-caps
    border-bottom 1px solid #7e7e7e

.productCardPrice
    width calc(100% - 73px)
    color #000
    font-family 'Oswald', sans-serif
    font-size 12px
    font-weight 400
    line-height 38px
    font-variant small-caps
