.buttonYellowSmall
    display inline-block
    height 26px
    background-color #d5a231
    color #000
    font-family 'Montserrat', sans-serif
    font-size 15px
    font-weight 400
    line-height 26px
    font-variant small-caps
    text-decoration none
    padding 8px 20px
    box vertical middle center
    transition all .3s
    &:hover
        background-color darken(#d5a231, 20%)
        color #fff

.buttonSearch
    display inline-block
    height 50px
    background-color #d5a231
    color #000
    outline 0
    border 1px solid #a8a6a7
    border-left 0
    width auto
    font-family 'Montserrat', sans-serif
    font-size 15px
    font-weight 400
    line-height 26px
    font-variant small-caps
    text-decoration none
    padding 8px 20px
    box vertical middle center
    transition all .3s
    svg
        size 30px
        fill #fff
    &:hover
        background-color darken(#d5a231, 20%)
        color #fff
.buttonLang
    color #fcfcfc
    font-family 'Montserrat', sans-serif
    font-size 13px
    font-weight 400
    line-height 18px
    font-variant small-caps
    text-decoration none
    background-color transparent
    border 0
    outline 0
    cursor pointer
