.info
    display block
    position relative
    background-color #000
    padding-top 30px
    padding-bottom 45px
    margin-bottom 85px
    width 100%
    max-width 100vw
    +below(600px)
        margin-bottom 0
.infoHeader
    box horizontal middle center
    margin-bottom 30px
.infoLogo
    svg
        size 136px 43px

.infoItems
    box horizontal middle center
    flex-wrap: wrap;
.infoItem
    box vertical top center
    flex 0 1 auto
    min-width 300px
    border-right 1px solid #828282
    +below(1215px)
        &:nth-child(3)
            border-right 0
    +below(914px)
        border 0
    +below(600px)
        lost-column 1/2 2 0 flex
        min-width auto
    &:last-child
        border-right 0
.infoItemIcon
    svg
        size 50px

.infoItemText
    color #fff
    font-family 'Oswald', sans-serif
    font-size 16px
    font-weight 400
    line-height 30px
    font-variant small-caps
    +below(768px)
        font-size 16px
        line-height 30px
