// @font-face {
//     font-family: 'BebasNeue';
//     font-style: normal;
//     font-weight: 400;
//     src: url(../fonts/Oswaldregular.woff) format('woff'), url(../fonts/Oswaldregular.woff2) format('woff2')
// }

// GTCinetypeTrial-Regular
// GTWalsheimProTrial-Regular
// MyriadPro-Black
// MyriadPro-Regular
// Nauman-DemiBold
// Oswald-Regular

// font-family: 'Oswald', sans-serif;
// font-family: 'Montserrat', sans-serif;
// font-family: 'Oxygen', sans-serif;
