/**
 * 1. Change the default font family in all browsers (opinionated).
 * 2. Prevent adjustments of font size after orientation changes in IE and iOS.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}
/**
 * Remove the margin in all browsers (opinionated).
 */
body {
  margin: 0;
}
/* HTML5 display definitions
   ========================================================================== */
/**
 * Add the correct display in IE 9-.
 * 1. Add the correct display in Edge, IE, and Firefox.
 * 2. Add the correct display in IE.
 */
article,
aside,
details, /* 1 */
figcaption,
figure,
footer,
header,
main, /* 2 */
menu,
nav,
section,
summary {
  /* 1 */
  display: block;
}
/**
 * Add the correct display in IE 9-.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
}
/**
 * Add the correct display in iOS 4-7.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}
/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}
/**
 * Add the correct display in IE 10-.
 * 1. Add the correct display in IE.
 */
template, /* 1 */
[hidden] {
  display: none;
}
/* Links
   ========================================================================== */
/**
 * 1. Remove the gray background on active links in IE 10.
 * 2. Remove gaps in links underline in iOS 8+ and Safari 8+.
 */
a {
  background-color: transparent;
  /* 1 */
  -webkit-text-decoration-skip: objects;
  /* 2 */
}
/**
 * Remove the outline on focused links when they are also active or hovered
 * in all browsers (opinionated).
 */
a:active,
a:hover {
  outline-width: 0;
}
/* Text-level semantics
   ========================================================================== */
/**
 * 1. Remove the bottom border in Firefox 39-.
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}
/**
 * Prevent the duplicate application of `bolder` by the next rule in Safari 6.
 */
b,
strong {
  font-weight: inherit;
}
/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}
/**
 * Add the correct font style in Android 4.3-.
 */
dfn {
  font-style: italic;
}
/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}
/**
 * Add the correct background and color in IE 9-.
 */
mark {
  background-color: #ff0;
  color: #000;
}
/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}
/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10-.
 */
img {
  border-style: none;
}
/**
 * Hide the overflow in IE.
 */
svg:not(:root) {
  overflow: hidden;
}
/* Grouping content
   ========================================================================== */
/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}
/**
 * Add the correct margin in IE 8.
 */
figure {
  margin: 1em 40px;
}
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}
/* Forms
   ========================================================================== */
/**
 * 1. Correct color not being inherited.
      Known issue: affects color of disabled elements.
 * 2. Change font properties to `inherit` in all browsers (opinionated).
 * 3. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
  vertical-align: middle;
}
/**
 * Restore the font weight unset by the previous rule.
 */
optgroup {
  font-weight: bold;
}
/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}
/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}
/**
 * 1. Prevent a WebKit bug where (2) destroys native `audio` and `video`
 *    controls in Android 4.
 * 2. Correct the inability to style clickable types in iOS and Safari.
 */
button,
html [type="button"], /* 1 */
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
}
/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
/**
 * Change the border, margin, and padding in all browsers (opinionated).
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}
/**
 * Remove the default vertical scrollbar in IE.
 */
textarea {
  overflow: auto;
  resize: none;
  vertical-align: top;
}
/* webkit focus outline */
input,
select,
textarea {
  outline: 0;
}
/* Re-set default cursor for disabled elements. */
[disabled] {
  cursor: default;
}
/**
 * 1. Add the correct box sizing in IE 10-.
 * 2. Remove the padding in IE 10-.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}
/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}
/**
 * Remove the inner padding and cancel buttons in Chrome and Safari on OS X.
 */
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
/**
 * Correct the text style of placeholders in Chrome, Edge, ff, and Safari.
 */
input::-moz-placeholder,
textarea::-moz-placeholder {
  color: inherit;
  opacity: 0.54;
}
input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
input::-ms-clear,
input::-ms-reveal {
  display: none;
}
/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}
/* table
   ========================================================================== */
/* Remove table cell spacing and padding */
table {
  border-collapse: collapse;
  border-spacing: 0;
}
td,
th {
  padding: 0;
}
h1, h2, h3, h4, h5, h6, p, figure, form, blockquote {
  margin: 0;
}
ul, ol, li, dl, dd {
  margin: 0;
  padding: 0;
}
ul, ol {
  list-style: none outside none;
}
h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
}
* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -webkit-overflow-scrolling: none;
}
a:focus {
  outline: 0;
}
html {
  height: 100%;
  min-width: 320px;
}
body {
  position: relative;
  min-height: 100%;
  font-family: 'Lato', sans-serif;
}
.content {
  display: block;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  padding-top: 158px;
  overflow: hidden;
}
@media only screen and (max-width: 768px) {
  .content {
    padding-top: 86px;
  }
}
.sidebar {
  display: block;
  position: fixed;
  right: 0;
  top: 0;
  height: 100vh;
  width: 560px;
  -webkit-transform: translateX(560px);
          transform: translateX(560px);
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
@media only screen and (max-width: 600px) {
  .sidebar {
    width: 100vw;
    background-color: #fff;
  }
}
.contentFade {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  min-height: 100%;
  background-color: rgba(0,0,0,0.7);
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  event-pointer: none;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.search {
  display: block;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  event-pointer: none;
  top: 86px;
  right: 100px;
  z-index: 10000;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.search input {
  width: 300px;
}
.sidebarShow .content {
  -webkit-transform: translateX(-560px);
          transform: translateX(-560px);
}
.sidebarShow .contentFade {
  opacity: 1;
  visibility: visible;
  z-index: 9999;
}
.sidebarShow .sidebar {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}
.searchShow .contentFade {
  margin-top: 86px;
  opacity: 1;
  visibility: visible;
  z-index: 10000;
}
.searchShow .search {
  opacity: 1;
  visibility: visible;
  z-index: 10000;
}
.accountShow .contentFade {
  margin-top: 86px;
  opacity: 1;
  visibility: visible;
  z-index: 10000;
}
.accountShow .account {
  opacity: 1;
  visibility: visible;
  z-index: 10000;
}

.buttonYellowSmall {
  display: inline-block;
  height: 26px;
  background-color: #d5a231;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  font-variant: small-caps;
  text-decoration: none;
  padding: 8px 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.buttonYellowSmall:hover {
  background-color: #ae8323;
  color: #fff;
}
.buttonSearch {
  display: inline-block;
  height: 50px;
  background-color: #d5a231;
  color: #000;
  outline: 0;
  border: 1px solid #a8a6a7;
  border-left: 0;
  width: auto;
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 26px;
  font-variant: small-caps;
  text-decoration: none;
  padding: 8px 20px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.buttonSearch svg {
  width: 30px;
  height: 30px;
  fill: #fff;
}
.buttonSearch:hover {
  background-color: #ae8323;
  color: #fff;
}
.buttonLang {
  color: #fcfcfc;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  font-variant: small-caps;
  text-decoration: none;
  background-color: transparent;
  border: 0;
  outline: 0;
  cursor: pointer;
}

.input {
  width: 100%;
  height: 50px;
  background-color: #f7f7f7;
  border: 1px solid #a8a6a7;
  color: #000;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  font-variant: small-caps;
  padding: 0 10px;
}
.select {
  display: block;
  width: 100%;
  position: relative;
  width: 100%;
  height: 50px;
  background-color: #f7f7f7;
  border: 1px solid #a8a6a7;
  color: #000;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  font-variant: small-caps;
  padding: 0 10px;
  border-radius: 0;
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJBAMAAADN8WE8AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAD1BMVEUAAADWozDWozDWozD///8UKpC5AAAAA3RSTlMAlwGzceiVAAAAAWJLR0QEj2jZUQAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+AMBAwmEEdxoVAAAAAxSURBVAjXYxA2hgBDBkUoS4iBCSJoqMAAFRRiYIAIgoQggiAhsCBECCQIEQIKCoKEAP5QCNY6htQaAAAAAElFTkSuQmCC");
}
.selectSmall {
  display: block;
  width: 100%;
  position: relative;
  width: 100%;
  height: 35px;
  background-color: #f7f7f7;
  border: 1px solid #a8a6a7;
  color: #000;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
  font-variant: small-caps;
  padding: 0 10px;
  border-radius: 0;
  -webkit-appearance: none;
  background-repeat: no-repeat;
  background-position: center right 10px;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAAJBAMAAADN8WE8AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAD1BMVEUAAADWozDWozDWozD///8UKpC5AAAAA3RSTlMAlwGzceiVAAAAAWJLR0QEj2jZUQAAAAlwSFlzAAALEgAACxIB0t1+/AAAAAd0SU1FB+AMBAwmEEdxoVAAAAAxSURBVAjXYxA2hgBDBkUoS4iBCSJoqMAAFRRiYIAIgoQggiAhsCBECCQIEQIKCoKEAP5QCNY6htQaAAAAAElFTkSuQmCC");
}
.radio {
  vertical-align: top;
  width: 17px;
  height: 17px;
  margin: 0 3px 0 0;
}
.radio + label {
  cursor: pointer;
}
.radio:not(checked) {
  position: absolute;
  opacity: 0;
}
.radio:not(checked) + label {
  position: relative;
  padding: 0 35px 0 0;
}
.radio:not(checked) + label:before {
  content: '';
  position: absolute;
  top: -3px;
  right: 0;
  width: 22px;
  height: 22px;
  border: 1px solid #cdd1da;
  border-radius: 50%;
  background: #fff;
}
.radio:not(checked) + label:after {
  content: '';
  position: absolute;
  top: 2px;
  right: 5px;
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background: #d5a231;
  opacity: 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}
.radio:checked + label:after {
  opacity: 1;
}

.label {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 5px;
}
.labelRadio {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  line-height: 18px;
  margin-bottom: 5px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.labelRadio input {
  margin-left: 20px;
}

.ps-scrollbar-x-rail {
  display: none !important;
}
.ps-container {
  -ms-touch-action: auto;
  touch-action: auto;
  overflow: hidden !important;
  -ms-overflow-style: none;
}
@supports (-ms-overflow-style: none) {
  .ps-container {
    overflow: auto !important;
  }
}
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .ps-container {
    overflow: auto !important;
  }
}
.ps-container.ps-active-x > .ps-scrollbar-x-rail,
.ps-container.ps-active-y > .ps-scrollbar-y-rail {
  display: block;
  background-color: #c8c7c7;
}
.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  background-color: #eee;
  opacity: 1;
}
.ps-container.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  background-color: #999;
  height: 16px;
}
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  background-color: #eee;
  opacity: 1;
}
.ps-container.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #999;
  width: 16px;
}
.ps-container > .ps-scrollbar-x-rail {
  display: none;
  position: absolute;
/* please don't change 'position' */
  opacity: 1;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  bottom: 0px;
/* there must be 'bottom' for ps-scrollbar-x-rail */
  height: 16px;
}
.ps-container > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  position: absolute;
/* please don't change 'position' */
  background-color: #aaa;
  border-radius: 0px;
  -webkit-transition: background-color 0.2s linear, height 0.2s linear, width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  transition: background-color 0.2s linear, height 0.2s linear, width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  bottom: 2px;
/* there must be 'bottom' for ps-scrollbar-x */
  height: 6px;
}
.ps-container > .ps-scrollbar-x-rail:hover > .ps-scrollbar-x,
.ps-container > .ps-scrollbar-x-rail:active > .ps-scrollbar-x {
  height: 11px;
}
.ps-container > .ps-scrollbar-y-rail {
  display: none;
  position: absolute;
/* please don't change 'position' */
  opacity: 1;
  -webkit-transition: background-color 0.2s linear, opacity 0.2s linear;
  transition: background-color 0.2s linear, opacity 0.2s linear;
  right: 20px;
/* there must be 'right' for ps-scrollbar-y-rail */
  width: 1px;
}
.ps-container > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  position: absolute;
/* please don't change 'position' */
  background-color: #d5a231;
  border-radius: 0px;
  -webkit-transition: background-color 0.2s linear, height 0.2s linear, width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  transition: background-color 0.2s linear, height 0.2s linear, width 0.2s ease-in-out, border-radius 0.2s ease-in-out;
  right: -8px;
/* there must be 'right' for ps-scrollbar-y */
  width: 16px;
  height: 16px !important;
  border-radius: 50%;
}
.ps-container > .ps-scrollbar-y-rail:hover > .ps-scrollbar-y,
.ps-container > .ps-scrollbar-y-rail:active > .ps-scrollbar-y {
  width: 16px;
}
.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail {
  opacity: 1;
}
.ps-container:hover.ps-in-scrolling.ps-x > .ps-scrollbar-x-rail > .ps-scrollbar-x {
  height: 16px;
}
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail {
  opacity: 1;
}
.ps-container:hover.ps-in-scrolling.ps-y > .ps-scrollbar-y-rail > .ps-scrollbar-y {
  background-color: #d5a231;
  width: 16px;
}
.ps-container:hover > .ps-scrollbar-x-rail,
.ps-container:hover > .ps-scrollbar-y-rail {
  opacity: 1;
}
.ps-container:hover > .ps-scrollbar-x-rail:hover {
  opacity: 1;
}
.ps-container:hover > .ps-scrollbar-y-rail:hover {
  opacity: 1;
}

.swiper-container {
  margin: 0 auto;
  position: relative;
  overflow: hidden;
  z-index: 1;
}
.swiper-container-no-flexbox .swiper-slide {
  float: left;
}
.swiper-container-vertical > .swiper-wrapper {
  box-orient: vertical;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  box-sizing: content-box;
}
.swiper-container-android .swiper-slide,
.swiper-wrapper {
  -webkit-transform: translate3d(0px, 0, 0);
          transform: translate3d(0px, 0, 0);
}
.swiper-container-multirow > .swiper-wrapper {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
.swiper-container-free-mode > .swiper-wrapper {
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
  margin: 0 auto;
}
.swiper-slide {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  width: 100%;
  height: 100%;
  position: relative;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
text-align center,
.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide {
  height: auto;
}
.swiper-container-autoheight .swiper-wrapper {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-transition-property: height, -webkit-transform;
  transition-property: height, -webkit-transform;
  transition-property: transform, height;
  transition-property: transform, height, -webkit-transform;
}
.swiper-container .swiper-notification {
  position: absolute;
  left: 0;
  top: 0;
  pointer-events: none;
  opacity: 0;
  z-index: -1000;
}
.swiper-wp8-horizontal {
  -ms-touch-action: pan-y;
      touch-action: pan-y;
}
.swiper-wp8-vertical {
  -ms-touch-action: pan-x;
      touch-action: pan-x;
}
.swiper-pagination {
  position: absolute;
  text-align: center;
  -webkit-transition: 300ms;
  transition: 300ms;
  -webkit-transform: translate3d(0, 0, 0);
          transform: translate3d(0, 0, 0);
  z-index: 10;
}
.swiper-pagination.swiper-pagination-hidden {
  opacity: 0;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 10px;
  left: 0;
  width: 100%;
}
.swiper-pagination-bullet {
  width: 8px;
  height: 8px;
  display: inline-block;
  border-radius: 100%;
  background: #000;
  opacity: 0.2;
}
button.swiper-pagination-bullet {
  border: 0;
  margin: 0;
  padding: 0;
  box-shadow: none;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.swiper-pagination-clickable .swiper-pagination-bullet {
  cursor: pointer;
}
.swiper-pagination-white .swiper-pagination-bullet {
  background: #fff;
}
.swiper-pagination-white .swiper-pagination-bullet-active {
  background: #fff;
}
.swiper-pagination-bullet-active {
  opacity: 1;
  background: #007aff;
}
.swiper-pagination-black .swiper-pagination-bullet-active {
  background: #000;
}
.swiper-container-vertical > .swiper-pagination-bullets {
  right: 10px;
  top: 50%;
  -webkit-transform: translate3d(0px, -50%, 0);
          transform: translate3d(0px, -50%, 0);
}
.swiper-container-vertical > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 5px 0;
  display: block;
}
.swiper-container-vertical > .swiper-pagination-progress {
  width: 4px;
  height: 100%;
  left: 0;
  top: 0;
}
.swiper-container-horizontal > .swiper-pagination-bullets .swiper-pagination-bullet {
  margin: 0 5px;
}
.swiper-container-horizontal > .swiper-pagination-progress {
  width: 100%;
  height: 4px;
  left: 0;
  top: 0;
}
.swiper-pagination-progress {
  background: rgba(0,0,0,0.25);
  position: absolute;
}
.swiper-pagination-progress .swiper-pagination-progressbar {
  background: #007aff;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transform-origin: left top;
          transform-origin: left top;
}
.swiper-pagination-progress.swiper-pagination-white {
  background: rgba(255,255,255,0.5);
}
.swiper-pagination-progress.swiper-pagination-white .swiper-pagination-progressbar {
  background: #fff;
}
.swiper-pagination-progress.swiper-pagination-black .swiper-pagination-progressbar {
  background: #000;
}
.swiper-container-rtl .swiper-pagination-progress .swiper-pagination-progressbar {
  -webkit-transform-origin: right top;
          transform-origin: right top;
}
.swiper-container-3d {
  -webkit-perspective: 1200px;
          perspective: 1200px;
}
.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow {
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 10;
}
.swiper-container-3d .swiper-slide-shadow-left {
  background-image: -webkit-linear-gradient(right, rgba(0,0,0,0.5), rgba(0,0,0,0));
  background-image: linear-gradient(to left, rgba(0,0,0,0.5), rgba(0,0,0,0));
}
.swiper-container-3d .swiper-slide-shadow-right {
  background-image: -webkit-linear-gradient(left, rgba(0,0,0,0.5), rgba(0,0,0,0));
  background-image: linear-gradient(to right, rgba(0,0,0,0.5), rgba(0,0,0,0));
}
.swiper-container-3d .swiper-slide-shadow-top {
  background-image: -webkit-linear-gradient(bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
  background-image: linear-gradient(to top, rgba(0,0,0,0.5), rgba(0,0,0,0));
}
.swiper-container-3d .swiper-slide-shadow-bottom {
  background-image: -webkit-linear-gradient(top, rgba(0,0,0,0.5), rgba(0,0,0,0));
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
}
.swiper-container-cube,
.swiper-container-flip {
  overflow: visible;
}
.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide {
  pointer-events: none;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  z-index: 1;
}
.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-right {
  z-index: 0;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}
.swiper-container-cube .swiper-slide {
  visibility: hidden;
  -webkit-transform-origin: 0 0;
          transform-origin: 0 0;
  width: 100%;
  height: 100%;
}
.swiper-container-cube.swiper-container-rtl .swiper-slide {
  -webkit-transform-origin: 100% 0;
          transform-origin: 100% 0;
}
.swiper-container-cube .swiper-cube-shadow {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0.6;
  -webkit-filter: blur(50px);
          filter: blur(50px);
  z-index: 0;
}
.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide {
  pointer-events: auto;
  visibility: visible;
}
.swiper-container-fade.swiper-container-free-mode .swiper-slide {
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
.swiper-container-fade .swiper-slide {
  pointer-events: none;
  -webkit-transition-property: opacity;
  transition-property: opacity;
}
.swiper-container-fade .swiper-slide .swiper-slide {
  pointer-events: none;
}
.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active {
  pointer-events: auto;
}
.swiper-scrollbar {
  border-radius: 10px;
  position: relative;
  background: rgba(0,0,0,0.1);
}
.swiper-container-horizontal > .swiper-scrollbar {
  position: absolute;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 98%;
}
.swiper-container-vertical > .swiper-scrollbar {
  position: absolute;
  right: 3px;
  top: 1%;
  z-index: 50;
  width: 5px;
  height: 98%;
}
.swiper-scrollbar-drag {
  height: 100%;
  width: 100%;
  position: relative;
  background: rgba(0,0,0,0.5);
  border-radius: 10px;
  left: 0;
  top: 0;
}
.swiper-scrollbar-cursor-drag {
  cursor: move;
}
.swiper-lazy-preloader {
  width: 42px;
  height: 42px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -21px;
  margin-top: -21px;
  z-index: 10;
  -webkit-transform-origin: 50%;
          transform-origin: 50%;
  -webkit-animation: swiper-preloader-spin 1s steps(12, end) infinite;
          animation: swiper-preloader-spin 1s steps(12, end) infinite;
}
.swiper-lazy-preloader:after {
  display: block;
  content: "";
  width: 100%;
  height: 100%;
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;
}
.swiper-lazy-preloader-white:after {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E");
}
@-webkit-keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes swiper-preloader-spin {
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.pagginator {
  display: block;
  margin-bottom: 20px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pagginatorItems {
  margin-bottom: 10px;
  color: #000;
  padding: 0 5px;
  font-family: 'Oswald', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.pagginatorItems a {
  color: #000;
  padding: 0 5px;
  margin-right: 5px;
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 14px;
  border-bottom: 1px solid transparent;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.pagginatorItems a:hover {
  text-decoration: underline;
}
.pagginatorItemActive {
  font-weight: 700 !important;
  font-size: 16px !important;
}
.pagginatorInfo {
  font-family: 'Oxygen', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  font-variant: small-caps;
}

.account {
  display: block;
  top: abosulete;
  right: abosulete;
  bottom: abosulete;
  left: abosulete;
  opacity: 0;
  visibility: hidden;
  event-pointer: none;
  top: 86px;
  position: absolute;
  left: 50%;
  margin-right: -50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 10000;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 900px) {
  .account {
    width: 100%;
    height: auto;
    overflow: auto;
  }
}
.accountClose {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}
.accountClose svg {
  width: 20px;
  height: 20px;
  fill: #000;
}
.accountContent {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 800px;
  height: auto;
  background-color: #fff;
  padding: 30px 0 50px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media only screen and (max-width: 900px) {
  .accountContent {
    width: 95%;
    min-width: 95%;
    height: auto;
    margin: 0 auto;
  }
}
.accountHeader {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
  font-variant: small-caps;
  margin-bottom: 30px;
  padding: 0 40px;
}
.accountPanels {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 900px) {
  .accountPanels {
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.accountPanel {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  border-right: 1px solid #c8c7c7;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  padding: 0 40px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.accountPanel:last-child {
  border: 0;
}
@media only screen and (max-width: 900px) {
  .accountPanel {
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    border: 0;
    margin-bottom: 40px;
  }
}
.accountPanelHeader {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  font-variant: small-caps;
  text-transform: uppercase;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #000;
  margin-bottom: 20px;
}
.accountFormItem {
  margin-bottom: 20px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.accountForm {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
.accountFormSubmit {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.accountFormSubmit a {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}
.accountFormSubmit a:hover {
  text-decoration: underline;
}
.accountFormSubmitCreate {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.buttonLogin {
  width: auto;
  height: 40px;
  outline: 0;
  border: 0;
  padding: 0 30px;
  background-color: #d5a231;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 19px;
  white-space: nowrap;
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  text-transform: uppercase;
}

.footer {
  display: block;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: auto;
  max-width: 100vw;
}
@media only screen and (max-width: 600px) {
  .footer {
    position: relative;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.footerMenu {
  position: relative;
  z-index: 10000;
  background-color: #000;
  -webkit-animation-name: slideDownFooter;
          animation-name: slideDownFooter;
  -webkit-transform: translateY(38px);
          transform: translateY(38px);
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .footerMenu {
    width: 100%;
    -webkit-transform: translateY(0);
            transform: translateY(0);
    padding-bottom: 30px;
    border-bottom: 1px solid #828282;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.footerMenuItem {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 45px;
  padding: 23px 0;
  border-top: 1px solid #828282;
  background-color: #000;
  border-right: 1px solid #828282;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 600px) {
  .footerMenuItem {
    width: 80vw;
    height: auto;
    min-height: 64px;
    border-left: 1px solid #828282;
  }
  .footerMenuItem:last-child {
    border-bottom: 1px solid #828282;
  }
}
.footerMenuItem:last-child {
  border-right: 0;
}
@media only screen and (max-width: 600px) {
  .footerMenuItem:last-child {
    border-right: 1px solid #828282;
  }
}
.footerMenuItem a {
  color: #fff;
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  line-height: 18px;
  font-weight: 400;
  font-variant: small-caps;
  text-decoration: none;
}
.footerMenuItemMobile {
  display: none;
}
@media only screen and (max-width: 600px) {
  .footerMenuItemMobile {
    display: block;
    padding-top: 20px;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footerMenuItemMobile a {
    margin-right: 20px;
  }
  .footerMenuItemMobile a:last-child {
    margin-right: 0;
  }
  .footerMenuItemMobile a svg {
    width: 20px;
    height: 20px;
  }
  .footerMenuItemMobile a svg * {
    fill: #fff !important;
  }
}
.footerMenuItemPopupItems {
  position: absolute;
  bottom: -200px;
  width: 100%;
  z-index: 10;
}
@media only screen and (max-width: 600px) {
  .footerMenuItemPopupItems {
    display: none;
  }
}
.footerMenuItemPopup {
  display: block;
  position: absolute;
  z-index: 10;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 150px;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  background-color: #000;
  -webkit-animation-name: footerMenuItemPopupDown;
          animation-name: footerMenuItemPopupDown;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  padding-top: 30px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footerMenuItemPopupHeader {
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  font-variant: small-caps;
  color: #fff;
}
.footerMenuItemPopupContent {
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  font-variant: small-caps;
}
.footerMenuItemPopupContent p {
  margin-bottom: 5px;
}
.footerMenuItemPopupContent a {
  display: block;
  text-align: center;
  text-decoration: none;
  color: #fff;
}
.footerMenuItemPopupContent a:hover {
  text-decoration: underline;
}
.footerMenuItemPopupSocial {
  padding-top: 12px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.footerMenuItemPopupSocial a {
  margin-right: 30px;
}
.footerMenuItemPopupSocial a:last-child {
  margin-right: 0;
}
.footerMenuItemPopupSocial a svg {
  width: 30px;
  height: 30px;
}
.footerMenuItemPopupSocial a svg * {
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
  fill: #fff !important;
}
.footerMenuItemPopupSocial a svg:hover * {
  fill: #cac0b8 !important;
}
.footerMenuItemPopupShow {
  -webkit-animation-name: footerMenuItemPopupUp;
          animation-name: footerMenuItemPopupUp;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -js-display: flex !important;
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.footerBottom {
  z-index: 9000;
  position: relative;
  left: 0;
  bottom: 0;
  background-color: #e4dedb;
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  height: 38px;
  padding: 0 62px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .footerBottom {
    height: auto;
    padding: 0 20px;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footerBottomMenu {
  z-index: 9000;
  position: relative;
  background-color: #e4dedb;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 600px) {
  .footerBottomMenu {
    padding: 10px 0;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
    width: 100%;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.footerBottomMenuItem {
  margin-right: 18px;
  color: #000;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-variant: small-caps;
  text-decoration: none;
  white-space: nowrap;
}
@media only screen and (max-width: 600px) {
  .footerBottomMenuItem {
    margin-right: 10px;
    font-size: 11px;
  }
}
.footerCopyRight {
  color: #000;
  font-family: 'Oxygen', sans-serif;
  font-size: 16px;
  font-weight: 400;
  font-variant: small-caps;
  text-decoration: none;
}
@media only screen and (max-width: 600px) {
  .footerCopyRight {
    width: 100%;
    margin-bottom: 10px;
    font-size: 11px;
  }
}
.footerAnimate.slideDown .footerMenu {
  -webkit-animation-name: slideUpFooter;
          animation-name: slideUpFooter;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.footerAnimate.slideUp .footerMenuItemPopupItems {
  bottom: -162px;
}
.footerAnimate.slideUp .footerMenu {
  -webkit-animation-name: slideDownFooter;
          animation-name: slideDownFooter;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes footerMenuItemPopupDown {
  0% {
    -webkit-transform: translateY(calc(-100%));
            transform: translateY(calc(-100%));
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@keyframes footerMenuItemPopupDown {
  0% {
    -webkit-transform: translateY(calc(-100%));
            transform: translateY(calc(-100%));
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
@-webkit-keyframes footerMenuItemPopupUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(-100% - 93px));
            transform: translateY(calc(-100% - 93px));
  }
}
@keyframes footerMenuItemPopupUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(calc(-100% - 93px));
            transform: translateY(calc(-100% - 93px));
  }
}
@-webkit-keyframes slideDownFooter {
  0% {
    -webkit-transform: translateY(-38px);
            transform: translateY(-38px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slideDownFooter {
  0% {
    -webkit-transform: translateY(-38px);
            transform: translateY(-38px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes slideUpFooter {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(38px);
            transform: translateY(38px);
  }
}
@keyframes slideUpFooter {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(38px);
            transform: translateY(38px);
  }
}

.header {
  display: block;
  position: fixed;
  z-index: 999;
  width: 100%;
  max-width: 100vw;
  height: auto;
  background-color: #000;
  top: 0;
  left: 0;
}
.headerTop {
  position: relative;
  height: 86px;
  background-color: #000;
  z-index: 999;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.headerLogo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding-left: 130px;
}
@media only screen and (max-width: 1000px) {
  .headerLogo {
    padding-left: 30px;
  }
}
.headerLogo svg {
  width: 100px;
  height: 63px;
}
@media only screen and (max-width: 600px) {
  .headerLogo svg {
    width: 75px;
    height: 63px;
  }
}
.headerMenu {
  -webkit-box-flex: 0;
      -ms-flex: 0 2 auto;
          flex: 0 2 auto;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 830px) {
  .headerMenu {
    display: none;
  }
}
.headerMenuItem {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-right: 38px;
}
.headerMenuItem a {
  color: #fcfcfc;
  font-family: 'Oswald', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 13px;
  font-variant: small-caps;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.headerMenuItem a:hover {
  text-decoration: underline;
  color: #fff;
}
.headerControl {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.headerLang {
  margin-right: 38px;
  color: #fcfcfc;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  font-variant: small-caps;
  text-decoration: none;
}
@media only screen and (max-width: 830px) {
  .headerLang {
    display: none;
  }
}
.headerLang a {
  color: #fcfcfc;
  text-decoration: none;
}
.headerLang a:first-child {
  padding-right: 5px;
}
.headerLang a:last-child {
  padding-left: 5px;
}
.headerSearch {
  margin-right: 38px;
}
.headerSearch svg {
  width: 18px;
  height: 18px;
  fill: #fff;
}
@media only screen and (max-width: 830px) {
  .headerSearch {
    display: none;
  }
}
.headerLogin {
  margin-right: 38px;
}
.headerLogin svg {
  fill: #fff;
  width: 18px;
  height: 18px;
}
@media only screen and (max-width: 830px) {
  .headerLogin {
    margin-right: 30px;
  }
}
.headerCart {
  margin-right: 38px;
  position: relative;
}
.headerCart svg {
  fill: #fff;
  width: 23px;
  height: 23px;
}
@media only screen and (max-width: 830px) {
  .headerCart {
    margin-right: 30px;
  }
}
.headerCartCount {
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  line-height: 18px;
  color: #fff;
  top: -10px;
  right: -10px;
}
.headerMobileMenu {
  display: none;
  margin-right: 38px;
}
.headerMobileMenu svg {
  fill: #fff;
  width: 30px;
  height: 30px;
}
@media only screen and (max-width: 830px) {
  .headerMobileMenu {
    display: block;
    margin-right: 30px;
  }
}
.headroom--not-top {
  position: fixed;
}
.headroom--top {
  margin-bottom: 72px;
}
.animated.slideDown .vendorBar {
  -webkit-animation-name: slideDown;
          animation-name: slideDown;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.animated.slideUp .vendorBar {
  -webkit-animation-name: slideUp;
          animation-name: slideUp;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
@-webkit-keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@keyframes slideDown {
  0% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
@-webkit-keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}
@keyframes slideUp {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100%);
            transform: translateY(-100%);
  }
}

.menuMobile {
  display: block;
  position: fixed;
  right: 0;
  padding: 20px 0 20px 40px;
  width: 80vw;
  height: 100vh;
  z-index: 10000;
  background-color: rgba(0,0,0,0.7);
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  transition: transform 0.4s cubic-bezier(0.19, 1, 0.22, 1), -webkit-transform 0.4s cubic-bezier(0.19, 1, 0.22, 1);
  visibility: hidden;
  pointer-events: none;
}
.menuMobileShow {
  -webkit-transform: translateX(0);
          transform: translateX(0);
  visibility: visible;
  pointer-events: all;
}
.menuMobileSearch {
  display: block;
  position: relative;
  padding-bottom: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
}
.menuMobileSearchInput {
  border: 0;
  background-color: rgba(255,255,255,0.7);
  height: 40px;
  color: #fff;
  padding-left: 40px;
}
.menuMobileSearchInputIcon {
  position: absolute;
  top: 10px;
  left: 10px;
}
.menuMobileSearchInputIcon svg {
  width: 20px;
  height: 20px;
  fill: #fff;
}
.menuMobileItems {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.menuMobileItem {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding-bottom: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
  -ms-flex-item-align: stretch;
      -ms-grid-row-align: stretch;
      align-self: stretch;
}
.menuMobileItem a {
  color: #fcfcfc;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 20px;
  text-decoration: none;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.menuMobileItem a:hover {
  text-decoration: underline;
  color: #fff;
}
.menuMobileLang {
  margin-right: 38px;
  color: #fcfcfc;
  font-family: 'Oswald', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  font-variant: small-caps;
  text-decoration: none;
}
@media only screen and (max-width: 830px) {
  .menuMobileLang {
    margin-right: 30px;
  }
}
.menuMobileLang a {
  color: #fcfcfc;
  text-decoration: none;
}
.menuMobileLang a:first-child {
  padding-right: 10px;
}
.menuMobileLang a:last-child {
  padding-left: 10px;
}

.vendorBar {
  display: block;
  position: absolute;
  width: 100%;
  background-color: #cac0b8;
  height: 72px;
  z-index: 900;
  -webkit-transition: -webkit-transform;
  transition: -webkit-transform;
  transition: transform;
  transition: transform, -webkit-transform;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media only screen and (max-width: 768px) {
  .vendorBar {
    display: none;
  }
}
.vendorItem {
  margin-right: 60px;
  height: 50px;
  cursor: pointer;
}
.vendorItem:last-child {
  margin-right: 0;
}
.vendorItem svg {
  width: 50px;
  height: 50px;
  fill: #726d6a;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.vendorItem svg * {
  fill: #726d6a;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}
.vendorItem:hover svg {
  fill: #fff;
}
.vendorItem:hover svg * {
  fill: #fff;
}

.info {
  display: block;
  position: relative;
  background-color: #000;
  padding-top: 30px;
  padding-bottom: 45px;
  margin-bottom: 85px;
  width: 100%;
  max-width: 100vw;
}
@media only screen and (max-width: 600px) {
  .info {
    margin-bottom: 0;
  }
}
.infoHeader {
  margin-bottom: 30px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.infoLogo svg {
  width: 136px;
  height: 43px;
}
.infoItems {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.infoItem {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  min-width: 300px;
  border-right: 1px solid #828282;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 1215px) {
  .infoItem:nth-child(3) {
    border-right: 0;
  }
}
@media only screen and (max-width: 914px) {
  .infoItem {
    border: 0;
  }
}
@media only screen and (max-width: 600px) {
  .infoItem {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 auto;
            flex: 0 0 auto;
    width: calc(99.9% * 1/2);
    min-width: auto;
  }
  .infoItem:nth-child(1n) {
    margin-right: 0;
    margin-left: 0;
  }
  .infoItem:last-child {
    margin-right: 0;
  }
  .infoItem:nth-child(2n) {
    margin-right: 0;
    margin-left: auto;
  }
}
.infoItem:last-child {
  border-right: 0;
}
.infoItemIcon svg {
  width: 50px;
  height: 50px;
}
.infoItemText {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  font-variant: small-caps;
}
@media only screen and (max-width: 768px) {
  .infoItemText {
    font-size: 16px;
    line-height: 30px;
  }
}

.mainSlider {
  width: 100%;
  height: calc(100vh - 158px);
}
@media only screen and (max-width: 768px) {
  .mainSlider {
    width: 100%;
    height: calc(100vh - 86px);
  }
}
.mainSlide {
  display: block;
  position: relative;
  width: 100vw;
  height: calc(100vh - 158px);
}
@media only screen and (max-width: 768px) {
  .mainSlide {
    width: 100%;
    height: calc(100vh - 86px);
  }
}
.mainSlideImage {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}
.mainSlideContent {
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #000;
  padding: 25px 40px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media only screen and (max-width: 768px) {
  .mainSlideContent {
    bottom: 0;
    right: 0;
    width: 100%;
    padding-bottom: 30px;
  }
}
.mainSlideContentHeader {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  margin-bottom: 16px;
  color: #fcfcfc;
  font-family: 'Montserrat', sans-serif;
  font-size: 63px;
  font-weight: 400;
  line-height: 63px;
  font-variant: small-caps;
}
@media only screen and (max-width: 768px) {
  .mainSlideContentHeader {
    font-size: 23px;
    font-weight: 400;
    line-height: 23px;
  }
}
.mainSlideContentBottom {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 768px) {
  .mainSlideContentBottom {
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  .mainSlideContentButton {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}
.mainSlideContentDescription {
  color: #fcfcfc;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  font-variant: small-caps;
  padding-left: 3px;
}
@media only screen and (max-width: 768px) {
  .mainSlideContentDescription {
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
.mainSliderPrev {
  display: block;
  position: absolute;
  width: 44px;
  height: 84px;
  top: calc(50% - 42px);
  left: 33px;
  z-index: 100;
}
.mainSliderPrev svg {
  width: 44px;
  height: 84px;
}
@media only screen and (max-width: 768px) {
  .mainSliderPrev {
    display: none;
  }
}
.mainSliderNext {
  display: block;
  position: absolute;
  width: 44px;
  height: 84px;
  top: calc(50% - 42px);
  right: 33px;
  z-index: 100;
}
.mainSliderNext svg {
  width: 44px;
  height: 84px;
}
@media only screen and (max-width: 768px) {
  .mainSliderNext {
    display: none;
  }
}
.mainSliderPaggination {
  display: block;
  position: absolute;
  bottom: -5px;
}
@media only screen and (min-width: 769px) {
  .mainSliderPaggination {
    display: none;
  }
}
.mainSliderPaggination .swiper-pagination-bullet {
  width: 9px;
  height: 9px;
  background-color: #e3e2de;
  margin-right: 12px;
  opacity: 1;
}
.mainSliderPaggination .swiper-pagination-bullet:last-child {
  margin-right: 0;
}
.mainSliderPaggination .swiper-pagination-bullet-active {
  background-color: #d5a231;
}

.catalog {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding-top: 40px;
  max-width: 100vw;
  width: 100%;
}
.catalogHeader {
  position: relative;
}
@media only screen and (max-width: 768px) {
  .catalogHeader {
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.catalogHeader h2 {
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 38px;
  font-variant: small-caps;
  text-align: center;
  margin-bottom: 40px;
}
@media only screen and (max-width: 768px) {
  .catalogHeader h2 {
    margin-bottom: 10px;
  }
}
.catalogHeaderSort {
  position: absolute;
  right: 30px;
  top: 0;
  width: 350px;
}
@media only screen and (max-width: 768px) {
  .catalogHeaderSort {
    position: relative;
    -webkit-box-flex: 0;
        -ms-flex: 0 1 auto;
            flex: 0 1 auto;
    width: 300px;
    right: 0;
    margin-bottom: 20px;
  }
}
.catalogItems {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 0 20px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.product {
  display: block;
  width: 100%;
  height: calc(100vh - 222px);
  min-height: 650px;
  position: relative;
  z-index: 900;
  background-color: #fff;
}
@media only screen and (max-width: 600px) {
  .product {
    height: 100% !important;
  }
}
.productWrap {
  height: 100%;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 600px) {
  .productWrap {
    height: auto;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.productLine {
  width: 100%;
  height: 20px;
  background-color: #cdc4bd;
}
.productPhoto {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  position: relative;
  width: calc(100% - 380px);
  height: 100%;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media only screen and (max-width: 600px) {
  .productPhoto {
    width: 100vw;
    height: 500px;
  }
}
.productSlider {
  width: 100%;
  height: calc(100% - 100px);
  max-height: calc(100% - 100px);
}
@media only screen and (max-width: 600px) {
  .productSlider {
    width: 100%;
    height: 100%;
    height: 100vw;
  }
}
.productSlide {
  width: 100%;
  height: 100%;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.productSlide img {
  max-width: 100%;
}
@media only screen and (max-width: 600px) {
  .productSlide img {
    width: 100%;
    height: auto;
  }
}
.productThumb {
  padding: 0 0 0 54px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media only screen and (max-width: 600px) {
  .productThumb {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    height: 100px;
    min-height: 100px;
    width: 100%;
    padding: 0;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .productThumb img {
    max-height: 55px;
  }
}
.productInfo {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  position: relative;
  width: 100%;
  height: 100%;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  background-color: #f3f0ef;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
@media only screen and (max-width: 600px) {
  .productInfo {
    height: auto;
  }
}
.productInfoWrap {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 25px 40px 10px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.productModel {
  margin-bottom: 15px;
  font-family: 'Oxygen', sans-serif;
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  font-variant: small-caps;
  color: #000;
}
.productModel span {
  color: #7e7166;
  padding-right: 8px;
  border-right: 1px solid #7e7166;
  margin-right: 8px;
}
.productName {
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #828282;
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 23px;
  font-weight: 400;
  line-height: 29px;
  font-variant: small-caps;
}
.productPrices {
  width: 100%;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 1px solid #828282;
}
.productPriceRow {
  margin-bottom: 10px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.productPrice {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 21px;
  font-weight: 400;
  line-height: 40px;
}
.productBadge {
  width: 75px;
  height: 17px;
  background-color: #000;
  padding: 4px 0;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.productBadgeText {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-variant: small-caps;
}
.productBadgeNew {
  background-color: #000;
}
.productBadgeNew .productBadgeText {
  color: #fff;
}
.productBadgeSoon {
  background-color: #847d79;
}
.productBadgeSoon .productBadgeText {
  color: #fff;
}
.productBadgeSale {
  background-color: #d5a231;
}
.productBadgeSale .productBadgeText {
  color: #fff;
}
.productBadgeSoldOut {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.23);
}
.productBadgeSoldOut .productBadgeText {
  color: #000;
}
.productPriceTax {
  font-family: 'Oxygen', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
}
.productDetail {
  display: block;
  width: 100%;
  margin-bottom: 20px;
}
.productDetailTitle {
  margin-bottom: 10px;
  font-family: 'Oxygen', sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}
.productDetailText {
  font-family: 'Oxygen', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.productSizes {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.productSizeLabel {
  width: 100%;
  height: 100%;
  outline: 0;
  border: 0;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-weight: 400;
  color: #fff;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.productSizeItem {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  -ms-flex: 0 0 auto;
      flex: 0 0 auto;
  width: calc(99.9% * 1/3 - (1px - 1px * 1/3));
  height: 34px;
  min-width: 33%;
  height: 34px;
  margin-right: 1px;
  margin-bottom: 1px;
  background-color: #000;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.productSizeItem:nth-child(1n) {
  margin-right: 1px;
  margin-left: 0;
}
.productSizeItem:last-child {
  margin-right: 0;
}
.productSizeItem:nth-child(3n) {
  margin-right: 0;
  margin-left: auto;
}
.productSizeItem input {
  position: absolute;
  visibility: hidden;
}
.productSizeItem input:checked + label {
  border: 1px solid #000;
  background-color: #fff;
  color: #000;
}
.productInfoAdd {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 100%;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.addCart {
  border: 0;
  outline: 0;
  width: 100%;
  height: 90px;
  padding: 0 65px;
  background-color: #d5a231;
  cursor: pointer;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.addCartIcon svg {
  width: 50px;
  height: 50px;
  fill: #fff;
}
.addCartText {
  font-family: 'Oxygen', sans-serif;
  color: #fff;
  font-size: 19px;
  font-weight: 400;
  text-transform: uppercase;
}
.productInfoNote {
  font-family: 'Oxygen', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  padding: 15px 40px;
}

.productCard {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  min-width: 375px;
  margin: 0 9px;
  position: relative;
  margin-bottom: 30px;
  text-decoration: none;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media only screen and (max-width: 768px) {
  .productCard {
    min-width: 300px;
  }
}
.productCardBadge {
  display: block;
  position: absolute;
  right: 10px;
  width: 75px;
  top: 16px;
  height: 17px;
  background-color: #000;
  padding: 4px 0;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.productCardBadgeText {
  color: #fff;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-variant: small-caps;
}
.productCardBadgeNew {
  background-color: #000;
}
.productCardBadgeNew .productCardBadgeText {
  color: #fff;
}
.productCardBadgeSoon {
  background-color: #847d79;
}
.productCardBadgeSoon .productCardBadgeText {
  color: #fff;
}
.productCardBadgeSale {
  background-color: #d5a231;
}
.productCardBadgeSale .productCardBadgeText {
  color: #fff;
}
.productCardBadgeSoldOut {
  background-color: #fff;
  border: 1px solid rgba(0,0,0,0.23);
}
.productCardBadgeSoldOut .productCardBadgeText {
  color: #000;
}
.productCardImage {
  background-color: #f7f7f7;
  height: 230px;
  width: 100%;
  margin-bottom: 23px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.productCardDescription {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 100%;
}
.productCardName {
  width: calc(100% - 73px);
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 38px;
  font-variant: small-caps;
  border-bottom: 1px solid #7e7e7e;
}
.productCardBrand {
  width: calc(100% - 73px);
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 38px;
  font-variant: small-caps;
  border-bottom: 1px solid #7e7e7e;
}
.productCardPrice {
  width: calc(100% - 73px);
  color: #000;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  font-weight: 400;
  line-height: 38px;
  font-variant: small-caps;
}

.sidebar {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sidebarSubTotal {
  display: block;
  padding: 0 85px 0 30px;
  margin-bottom: 27px;
}
@media only screen and (max-width: 600px) {
  .sidebarSubTotal {
    padding: 0 30px;
  }
}
.sidebarSubTotalWrap {
  padding: 17px 0;
  border-top: 1px solid #c8c7c7;
  border-bottom: 1px solid #c8c7c7;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sidebarSubTotalText {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}
.sidebarSubTotalText span {
  display: block;
}
.sidebarSubTotalPrice {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 18px;
  font-weight: 400;
  line-height: 18px;
}
.sidebarCheckout {
  display: block;
  padding: 0 85px 0 30px;
  margin-bottom: 20px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .sidebarCheckout {
    padding: 0 30px 20px;
  }
}
.sidebarCheckoutLogo svg {
  width: 65px;
  height: 24px;
}
.buttonCheckout {
  width: 176px;
  height: 40px;
  outline: 0;
  border: 0;
  background-color: #d5a231;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 19px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebarBasket {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  position: relative;
  margin-bottom: 30px;
}
.sidebarScroll {
  width: 100%;
  height: 1000px;
}
.basketItems {
  padding: 0 50px 0 30px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}
.basketItemHeader {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  font-weight: 700;
  padding-top: 10px;
  font-size: 12px;
  line-height: 18px;
}
.basketItem {
  position: relative;
  margin-bottom: 11px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .basketItem {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    padding-bottom: 20px;
    margin-bottom: 31px;
  }
}
.basketItem:after {
  display: block;
  position: absolute;
  width: calc(100% - 32px);
  height: 1px;
  content: '';
  bottom: -6px;
  background-color: #c8c7c7;
}
.basketItemImage {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  width: 120px;
  height: 72px;
  min-width: 120px;
  background-color: #f7f7f7;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.basketItemImage img {
  width: 100px;
}
@media only screen and (max-width: 600px) {
  .basketItemImage {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    margin-bottom: 10px;
    background-color: #fff;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.basketItemSpacer {
  width: 50px;
}
.basketItemQty {
  padding: 0 15px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.basketItemQtyInput {
  width: 32px;
  height: 32px;
  text-align: center;
  border: 1px solid #918f8f;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  margin: 0 5px;
}
.basketItemName {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
}
@media only screen and (max-width: 600px) {
  .basketItemName {
    margin-bottom: 10px;
  }
}
.basketItemPrice {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  padding-left: 20px;
}
.basketItemRemove {
  margin-left: 20px;
  width: 12px;
}
.basketItemRemove svg {
  width: 12px;
  height: 12px;
}

.sidebarDetail {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 0 85px 0 30px;
}
@media only screen and (max-width: 600px) {
  .sidebarDetail {
    padding: 0 40px 0 30px;
  }
}
.sidebarDetailFormSubheader {
  margin-bottom: 20px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebarDetailFormSubheaderText {
  font-family: 'Oswald', sans-serif;
  font-size: 12px;
  line-height: 18px;
  text-transform: uppercase;
}
.sidebarDetailFormSubheaderLine {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  height: 1px;
  margin-left: 10px;
  background-color: #c8c7c7;
}
.sidebarDetailFormItem {
  margin-bottom: 20px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.sidebarDetailFormItemHalf {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebarDetailFormItemHalf .sidebarDetailFormItem {
  width: calc(50% - 10px);
}
.sidebarDetailFormItemHalf .sidebarDetailFormItem:last-child {
  margin-left: 20px;
}
.sidebarDetailSubmit {
  margin-bottom: 50px;
  padding: 0 85px 0 30px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .sidebarDetailSubmit {
    padding: 20px 40px 0 30px;
    -js-display: flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.buttonSummery {
  width: 200px;
  height: 40px;
  outline: 0;
  border: 0;
  background-color: #d5a231;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 19px;
  white-space: nowrap;
}
@media only screen and (max-width: 600px) {
  .buttonSummery {
    margin-top: 10px;
  }
}

.sidebarSummery {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 auto;
          flex: 0 1 auto;
  padding: 0 85px 0 30px;
  margin-bottom: 40px;
}
@media only screen and (max-width: 600px) {
  .sidebarSummery {
    padding: 0 40px 0 30px;
    margin-bottom: 0;
  }
}
.sidebarSummeryComponents {
  padding: 10px 0;
  border-top: 1px solid #c8c7c7;
  border-bottom: 1px solid #c8c7c7;
  margin-bottom: 20px;
}
.sidebarSummerySubtotal,
.sidebarSummeryDelivery,
.sidebarSummeryTax {
  margin-bottom: 10px;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sidebarSummeryTotal {
  margin-bottom: 30px;
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sidebarSummeryControl {
  margin-bottom: 50px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media only screen and (max-width: 600px) {
  .sidebarSummeryControl {
    margin-bottom: 20px;
  }
}
.sidebarSummeryBack a {
  font-family: 'Montserrat', sans-serif;
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}
.sidebarSummeryBack a:hover {
  text-decoration: underline;
}
.buttonPayment {
  width: 176px;
  height: 40px;
  outline: 0;
  border: 0;
  background-color: #d5a231;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 19px;
  font-weight: 400;
  line-height: 19px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.sidebarScrollContainer {
  position: relative;
}
.sidebarTitle {
  padding: 35px 30px;
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sidebarHeader {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 28px;
  font-weight: 400;
  line-height: 38px;
  font-variant: small-caps;
}
.sidebarClose svg {
  width: 28px;
  height: 28px;
}
.sidebarBasketMenu {
  -js-display: flex;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebarBasketMenuItem {
  color: #000;
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
  font-weight: 400;
  text-decoration: none;
  margin-right: 20px;
}
.sidebarBasketMenuItemActive {
  text-decoration: underline;
}

/*# sourceMappingURL=blocks.css.map */
