doctype
html
    head
        title Ordr
        meta(charset='utf-8')
        meta(name="viewport", content="width=device-width, user-scalable=yes")
        link(href='./css/woff.css', type="text/css", rel="stylesheet")
        link(href='./css/blocks.css', type="text/css", rel="stylesheet")
        link(href="https://fonts.googleapis.com/css?family=Montserrat|Oswald|Oxygen" rel="stylesheet")
        script(src="./js/preload.js")

        include _svg.jade
        include _mixin.jade


    body
        block content
        script(src="./js/app.js")
