extends _layout

block content
    .content
        .contentFade
        .search
            input.input
            button.buttonSearch
                +svgIcon('icon-search')
        include block/account.jade

        include block/header.jade
        .main
            include block/slider.jade
            include block/catalog.jade
            include block/info.jade
        include block/footer.jade
    .sidebar
        include block/sidebar_checkout.jade
