extends _layout

block content
    .content
        .contentFade
        include block/header.jade
        .main
            include block/slider.jade
            include block/catalog.jade
            include block/info.jade
        include block/footer.jade
    .sidebar
        include block/sidebar_summery.jade
