.mainSlider
    size 100% calc(100vh - 158px)
    +below(768px)
        size 100% calc(100vh - 86px)
.mainSlide
    display block
    position relative
    size 100vw calc(100vh - 158px)
    +below(768px)
        size 100% calc(100vh - 86px)
.mainSlideImage
    size 100%
    background-size cover
    background-repeat no-repeat
    background-position center center

.mainSlideContent
    position absolute
    bottom 20px
    right 20px
    background-color #000
    padding 25px 40px
    box vertical
    +below(768px)
        bottom 0
        right 0
        width 100%
        padding-bottom 30px
.mainSlideContentHeader
    flex 0 1 auto
    margin-bottom 16px
    color #fcfcfc
    font-family 'Montserrat', sans-serif
    font-size 63px
    font-weight 400
    line-height 63px
    font-variant small-caps
    +below(768px)
        font-size 23px
        font-weight 400
        line-height 23px

.mainSlideContentBottom
    box horizontal bottom space-between
    +below(768px)
        box vertical
.mainSlideContentButton
    +below(768px)
        margin-top 5px
        margin-bottom 5px
.mainSlideContentDescription
    color #fcfcfc
    font-family 'Montserrat', sans-serif
    font-size 13px
    font-weight 400
    line-height 18px
    font-variant small-caps
    padding-left 3px
    +below(768px)
        align-self: flex-start;
.mainSliderPrev
    display block
    position absolute
    size 44px 84px
    top calc(50% - 42px)
    left 33px
    z-index 100
    svg
        size 44px 84px
    +below(768px)
        display none
.mainSliderNext
    display block
    position absolute
    size 44px 84px
    top calc(50% - 42px)
    right 33px
    z-index 100
    svg
        size 44px 84px
    +below(768px)
        display none
.mainSliderPaggination
    display block
    position absolute
    bottom -5px
    +above(769px)
        display none
    .swiper-pagination-bullet
        size 9px
        background-color #e3e2de
        margin-right 12px
        opacity 1
        &:last-child
            margin-right 0
    .swiper-pagination-bullet-active
        background-color #d5a231
