.sidebar
    box vertical top space-between
.sidebarSubTotal
    display block
    padding 0 85px 0 30px
    margin-bottom 27px
    +below(600px)
        padding 0 30px
    &Wrap
        padding 17px 0
        border-top 1px solid #c8c7c7
        border-bottom 1px solid #c8c7c7
        box horizontal middle space-between

.sidebarSubTotalText
    font-family 'Montserrat', sans-serif
    color #000
    font-size 12px
    font-weight 400
    line-height 18px
    span
        display block

.sidebarSubTotalPrice
    font-family 'Montserrat', sans-serif
    color #000
    font-size 18px
    font-weight 400
    line-height 18px
.sidebarCheckout
    display block
    padding 0 85px 0 30px
    margin-bottom 20px
    box horizontal middle space-between
    +below(600px)
        padding 0 30px 20px
.sidebarCheckoutLogo
    svg
        size 65px 24px

.buttonCheckout
    size 176px 40px
    outline 0
    border 0
    background-color #d5a231
    color #fff
    font-family 'Montserrat', sans-serif
    font-size 19px
    font-weight 400
    line-height 19px
    box vertical middle center
.sidebarBasket
    flex 1 1 auto
    position relative
    margin-bottom 30px
.sidebarScroll
    size 100% 1000px

.basketItems
    box vertical top
    padding 0 50px 0 30px

.basketItemHeader
    font-family 'Montserrat', sans-serif
    text-align center
    font-weight 700
    padding-top 10px
    font-size 12px
    line-height 18px

.basketItem
    box horizontal middle space-between
    position relative
    margin-bottom 11px
    +below(600px)
        flex-wrap wrap
        padding-bottom 20px
        margin-bottom 31px
    &:after
        display block
        position absolute
        size calc(100% - 32px) 1px
        content ''
        bottom -6px
        background-color #c8c7c7
.basketItemImage
    flex 0 1 auto
    size 120px 72px
    min-width 120px
    background-color #f7f7f7
    box vertical middle center
    img
        width 100px
    +below(600px)
        flex 1 1 100%
        box vertical middle left
        margin-bottom 10px
        background-color #fff
.basketItemSpacer
    width 50px
.basketItemQty
    box horizontal middle
    padding 0 15px
.basketItemQtyInput
    size 32px
    text-align center
    border 1px solid #918f8f
    font-family 'Oswald', sans-serif
    font-size 12px
    margin 0 5px

.basketItemName
    flex 1 1 auto
    font-family 'Oswald', sans-serif
    font-size 12px
    +below(600px)
        margin-bottom 10px
.basketItemPrice
    font-family 'Oswald', sans-serif
    font-size 12px
    padding-left 20px
.basketItemRemove
    margin-left 20px
    width 12px
    svg
        size 12px
