.sidebarDetail
    flex 1 1 auto
    padding 0 85px 0 30px
    +below(600px)
        padding 0 40px 0 30px
.sidebarDetailFormSubheader
    box horizontal middle
    margin-bottom 20px
    &Text
        font-family 'Oswald', sans-serif
        font-size 12px
        line-height 18px
        text-transform uppercase
    &Line
        flex 1 1 auto
        height 1px
        margin-left 10px
        background-color #c8c7c7
.sidebarDetailFormItem
    box vertical top left
    margin-bottom 20px

.sidebarDetailFormItemHalf
    box horizontal middle
    .sidebarDetailFormItem
        width calc(50% - 10px)
        &:last-child
            margin-left 20px

.sidebarDetailSubmit
    box horizontal middle space-between
    margin-bottom 50px
    padding 0 85px 0 30px
    +below(600px)
        padding 20px 40px 0 30px
        box vertical top left
.buttonSummery
    size 200px 40px
    outline 0
    border 0
    background-color #d5a231
    color #fff
    font-family 'Montserrat', sans-serif
    font-size 19px
    font-weight 400
    line-height 19px
    white-space nowrap
    +below(600px)
        margin-top 10px
