.sidebarSummery
    flex 0 1 auto
    padding 0 85px 0 30px
    margin-bottom 40px
    +below(600px)
        padding 0 40px 0 30px
        margin-bottom 0
.sidebarSummeryComponents
    padding 10px 0
    border-top 1px solid #c8c7c7
    border-bottom 1px solid #c8c7c7
    margin-bottom 20px
.sidebarSummerySubtotal,
.sidebarSummeryDelivery,
.sidebarSummeryTax
    box horizontal middle space-between
    margin-bottom 10px
    font-family 'Montserrat', sans-serif
    color #000
    font-size 14px
    font-weight 400
    line-height 18px

.sidebarSummeryTotal
    box horizontal middle space-between
    margin-bottom 30px
    font-family 'Montserrat', sans-serif
    color #000
    font-size 14px
    font-weight 700
    line-height 18px

.sidebarSummeryControl
    box horizontal middle space-between
    margin-bottom 50px
    +below(600px)
        margin-bottom 20px
.sidebarSummeryBack
    a
        font-family 'Montserrat', sans-serif
        color #000
        font-size 14px
        font-weight 400
        line-height 18px
        text-decoration none
        &:hover
            text-decoration underline

.buttonPayment
    size 176px 40px
    outline 0
    border 0
    background-color #d5a231
    color #fff
    font-family 'Montserrat', sans-serif
    font-size 19px
    font-weight 400
    line-height 19px
    box vertical middle center
