.sidebarScrollContainer
    position relative
.sidebarTitle
    box horizontal middle space-between
    padding 35px 30px

.sidebarHeader
    color #000
    font-family 'Montserrat', sans-serif
    font-size 28px
    font-weight 400
    line-height 38px
    font-variant small-caps

.sidebarClose
    svg
        size 28px

.sidebarBasketMenu
    box horizontal middle

.sidebarBasketMenuItem
    color #000
    font-family 'Montserrat', sans-serif
    font-size 16px
    font-weight 400
    text-decoration none
    margin-right 20px
    &Active
        text-decoration underline
