// @import './../../stylusMixin/libs'
// normalize()
@reset-global pc
*
    box-sizing border-box
    -webkit-font-smoothing antialiased
    -webkit-overflow-scrolling none

a:focus
    outline 0

html
    height 100%
    min-width 320px

body
    position relative
    min-height 100%
    font-family 'Lato', sans-serif

.content
    display block
    transition all .4s
    padding-top 158px
    overflow hidden
    +below(768px)
        padding-top 86px
.sidebar
    display block
    position fixed
    right 0
    top 0
    height 100vh
    width 560px
    transform translateX(560px)
    transition all .4s
    +below(600px)
        width 100vw
        background-color #fff
.contentFade
    display block
    position absolute
    top 0
    left 0
    size 100%
    min-height 100%
    background-color rgba(0,0,0 .7)
    z-index -1
    opacity 0
    visibility hidden
    event-pointer none
    transition all .4s
.search
    display block
    position absolute
    opacity 0
    visibility hidden
    event-pointer none
    top 86px
    right 100px
    z-index 10000
    box horizontal middle
    input
        width 300px
.sidebarShow
    .content
        transform translateX(-560px)
    .contentFade
        opacity 1
        visibility visible
        z-index 9999
    .sidebar
        transform translateX(0)

.searchShow
    .contentFade
        margin-top 86px
        opacity 1
        visibility visible
        z-index 10000
    .search
        opacity 1
        visibility visible
        z-index 10000

.accountShow
    .contentFade
        margin-top 86px
        opacity 1
        visibility visible
        z-index 10000
    .account
        opacity 1
        visibility visible
        z-index 10000
