.account
    display block
    position abosulete
    opacity 0
    visibility hidden
    event-pointer none
    top 86px
    left center
    z-index 10000
    box horizontal middle
    +below(900px)
        width 100%
        height auto
        overflow: auto;
.accountClose
    display block
    position absolute
    top 20px
    right 20px
    svg
        size 20px
        fill #000
.accountContent
    flex 0 1 auto
    size 800px auto
    background-color #fff
    padding 30px 0 50px
    box vertical top
    +below(900px)
        width 95%
        min-width 95%
        height auto
        margin 0 auto
.accountHeader
    flex 0 1 auto
    color #000
    font-family 'Montserrat', sans-serif
    font-size 28px
    font-weight 400
    line-height 38px
    font-variant small-caps
    margin-bottom 30px
    padding 0 40px
.accountPanels
    flex 1 1 auto
    box hortizontal top space-between
    +below(900px)
        box vertical top left
.accountPanel
    flex 1 1 50%
    border-right 1px solid #c8c7c7
    align-self stretch
    padding 0 40px
    box vertical top
    &:last-child
        border 0
    +below(900px)
        flex 0 1 auto
        border 0
        margin-bottom 40px
.accountPanelHeader
    font-family 'Montserrat', sans-serif
    font-size 18px
    font-weight 400
    line-height 24px
    font-variant small-caps
    text-transform uppercase
    transition all .3s
    color #000
    margin-bottom 20px

.accountFormItem
    box vertical top left
    margin-bottom 20px
.accountForm
    flex 1 1 auto
.accountFormSubmit
    box horizontal middle space-between
    a
        font-family 'Montserrat', sans-serif
        color #000
        font-size 14px
        font-weight 400
        line-height 18px
        text-decoration none
        &:hover
            text-decoration underline
.accountFormSubmitCreate
    box horizontal middle right
.buttonLogin
    size auto 40px
    outline 0
    border 0
    padding 0 30px
    background-color #d5a231
    color #fff
    font-family 'Montserrat', sans-serif
    font-size 19px
    font-weight 400
    line-height 19px
    white-space nowrap
    flex 0 1 auto
    text-transform uppercase
