.account
    .accountContent
        .accountClose
            +svgIcon('icon-close')
        .accountHeader
            | Accout

        .accountPanels
            .accountPanel
                .accountPanelHeader
                    | Login
                .accountForm
                    .accountFormItem
                        label.label Email Address
                        input.input
                    .accountFormItem
                        label.label Password
                        input.input
                .accountFormSubmit
                    a(href="#") Forgot Password?
                    button.buttonLogin LOGIN
            .accountPanel
                .accountPanelHeader
                    | or Create account
                .accountForm
                    .accountFormItem
                        label.label First Name
                        input.input
                    .accountFormItem
                        label.label Last Name
                        input.input
                    .accountFormItem
                        label.label Email Address
                        input.input
                    .accountFormItem
                        label.label Password
                        input.input
                    .accountFormItem
                        label.label Confirm Password
                        input.input
                .accountFormSubmitCreate
                    button.buttonLogin Create Account
