.catalog
    .catalogHeader
        h2 PRODUCTS
        .catalogHeaderSort
            select.selectSmall
                option Russia
                option USA

    .catalogItems
        - for (var i = 0; i < 3; ++i) {
            a(href="#").productCard
                .productCardBadge.productCardBadgeNew
                    .productCardBadgeText
                        | NEW
                .productCardImage
                    img(src='img/product-1.png')    
                .productCardDescription
                    .productCardName
                        | NIKE AIR HUARACHE RUN PRM - NEUTRAL GREY
                    .productCardBrand
                        | NIKE
                    .productCardPrice
                        | 120.00 EUR
            .productCard
                .productCardBadge.productCardBadgeSoon
                    .productCardBadgeText
                        | SOON
                .productCardImage
                    img(src='img/product-2.png')
                .productCardDescription
                    .productCardName
                        | NIKE AIR HUARACHE RUN PRM - NEUTRAL GREY
                    .productCardBrand
                        | NIKE
                    .productCardPrice
                        | 120.00 EUR
            .productCard
                .productCardBadge.productCardBadgeSale
                    .productCardBadgeText
                        | %
                .productCardImage
                    img(src='img/product-1.png')    
                .productCardDescription
                    .productCardName
                        | NIKE AIR HUARACHE RUN PRM - NEUTRAL GREY
                    .productCardBrand
                        | NIKE
                    .productCardPrice
                        | 120.00 EUR
            .productCard
                .productCardBadge.productCardBadgeSoldOut
                    .productCardBadgeText
                        | SOLD OUT
                .productCardImage
                    img(src='img/product-2.png')
                .productCardDescription
                    .productCardName
                        | NIKE AIR HUARACHE RUN PRM - NEUTRAL GREY
                    .productCardBrand
                        | NIKE
                    .productCardPrice
                        | 120.00 EUR
        - }
    .pagginator
        .pagginatorItems
            a(href="#") PREV
            a(href="#").pagginatorItemActive 1
            a(href="#") 2
            a(href="#") 3
            a(href="#") NEXT
        .pagginatorInfo
            | Rāda no 1 līdz 6 kopā 12
