.footer
    .footerMenu
        .footerMenuItem.js-store
            a(href="javascript:void(0)") STORE
        .footerMenuItem
            a(href="#") SUBSCRIBE
        .footerMenuItem.js-follow
            a(href="javascript:void(0)") FOLLOW US
            .footerMenuItemMobile
                a(href="#")
                    +svgIcon('social-1_logo-facebook')
                a(href="#")
                    +svgIcon('social-1_logo-instagram')
                a(href="#")
                    +svgIcon('social-1_logo-youtube')
        .footerMenuItem
            a(href="#") PAYMENT
    .footerBottom
        .footerBottomMenu
            a(href="#").footerBottomMenuItem Help
            a(href="#").footerBottomMenuItem Terms & Conditions
            a(href="#").footerBottomMenuItem Cookies
            a(href="#").footerBottomMenuItem Site Security
            a(href="#").footerBottomMenuItem Privacy
            a(href="#").footerBottomMenuItem Contact Us
        .footerCopyRight
            | Copyright © 2015 Orderstore, All rights reserved.
    .footerMenuItemPopupItems
        .footerMenuItemPopup.js-storeContent
            .footerMenuItemPopupHeader
                | OUR STORE
            .footerMenuItemPopupContent
                p Audeju iela 3, Riga, Latvia, LV-1011
                a(href="tel:+37122336084") +37122336084
                a(href="mailto:info@orderstore.lv") info@orderstore.lv
        .footerMenuItemPopup.js-followContent
            .footerMenuItemPopupHeader
                | SOCIAL
            .footerMenuItemPopupContent
                .footerMenuItemPopupSocial
                    a(href="#")
                        +svgIcon('social-1_logo-facebook')
                    a(href="#")
                        +svgIcon('social-1_logo-instagram')
                    a(href="#")
                        +svgIcon('social-1_logo-youtube')
