header.header
    .headerTop
        .headerLogo
            +svgIcon('logo')
        .headerMenu
            .headerMenuItem
                a(href="#") SNEAKERS
            .headerMenuItem
                a(href="#") CLOTHES
            .headerMenuItem
                a(href="#") STUFF
            .headerMenuItem
                a(href="#") WOMEN'S
            .headerMenuItem
                a(href="#") BRANDS 
            .headerMenuItem
                a(href="#") SALE
        .headerControl
            .headerLang
                button.buttonLang ENG
                | |
                button.buttonLang LV
            .headerSearch
                +svgIcon('icon-search')
            .headerLogin
                +svgIcon('icon-login')
            .headerCart
                +svgIcon('icon-cart')
                .headerCartCount
                    | 10
            .headerMobileMenu
                +svgIcon('icon-menu')
    include vendor-bar
    include mobile-menu
