.info
    .infoHeader
        .infoLogo
            +svgIcon('logo')
    .infoItems
        .infoItem
            .infoItemIcon
                +svgIcon('icon-shipping')
            .infoItemText
                | WORLDWIDE SHIPPING
        .infoItem
            .infoItemIcon
                +svgIcon('icon-payment')
            .infoItemText
                | SECURE PAYMENT
        .infoItem
            .infoItemIcon
                +svgIcon('icon-retailer')
            .infoItemText
                | OFFICIAL RETAILER
        .infoItem
            .infoItemIcon
                +svgIcon('icon-delivery')
            .infoItemText
                | BOX-IN-BOX DELIVERY
