.menuMobile
    .menuMobileSearch
        input.input.menuMobileSearchInput
        .menuMobileSearchInputIcon
            +svgIcon('icon-search')
    .menuMobileItems
        .menuMobileItem
            a(href="#") SNEAKERS
        .menuMobileItem
            a(href="#") CLOTHES
        .menuMobileItem
            a(href="#") STUFF
        .menuMobileItem
            a(href="#") WOMEN'S
        .menuMobileItem
            a(href="#") BRANDS 
        .menuMobileItem
            a(href="#") SALE
    .menuMobileLang
        button.buttonLang ENG
        | |
        button.buttonLang LV
