.product
    .productWrap
        .productPhoto
            .productSlider.swiper-container
                .swiper-wrapper
                    .productSlide.swiper-slide
                        img(src='img/prod-1.jpg')
                    .productSlide.swiper-slide
                        img(src='img/prod-1.jpg')
                    .productSlide.swiper-slide
                        img(src='img/prod-1.jpg')
                    .productSlide.swiper-slide
                        img(src='img/prod-1.jpg')
                    .productSlide.swiper-slide
                        img(src='img/prod-1.jpg')
                    .productSlide.swiper-slide
                        img(src='img/prod-1.jpg')
            .productThumb
                .productThumbItem
                    img(src='img/prod-thumb-1.jpg')
                .productThumbItem
                    img(src='img/prod-thumb-2.jpg') 
                .productThumbItem
                    img(src='img/prod-thumb-3.jpg') 
                .productThumbItem
                    img(src='img/prod-thumb-4.jpg') 
                .productThumbItem
                    img(src='img/prod-thumb-5.jpg') 
                .productThumbItem
                    img(src='img/prod-thumb-6.jpg') 

        .productInfo
            .productInfoWrap
                .productModel
                    span NIKI
                    |543583045
                .productName
                    | DIADORA X PATTA: "FROM SEOUL TO RIO" PACK
                .productPrices
                    .productPriceRow
                        .productPrice
                            | €145.00
                        .productBadge.productBadgeNew
                            .productBadgeText NEW
                    .productPriceTax
                        | INCL. 21% TAX,<br>EXCL. SHIPPING COST
                .productDetail
                    .productDetailTitle
                        | PRODUCT DETAILS
                    .productDetailText.
                        Canvas and suede upper<br>
                        Textil lining<br>
                .productSizes
                    .productSizeItem
                        input(type="radio" name="size" id="radio1" checked)
                        label(for="radio1").productSizeLabel EU 41 / US 8
                    .productSizeItem
                        input(type="radio" name="size" id="radio2")
                        label(for="radio2").productSizeLabel EU 41 / US 8
                    .productSizeItem
                        input(type="radio" name="size" id="radio3")
                        label(for="radio3").productSizeLabel EU 41 / US 8
                    .productSizeItem
                        input(type="radio" name="size" id="radio4")
                        label(for="radio4").productSizeLabel EU 41 / US 8
                    .productSizeItem
                        input(type="radio" name="size" id="radio5")
                        label(for="radio5").productSizeLabel EU 41 / US 8
                    .productSizeItem
                        input(type="radio" name="size" id="radio6")
                        label(for="radio6").productSizeLabel EU 41 / US 8


            .productInfoAdd
                .addCart
                    .addCartIcon
                        +svgIcon('icon-cart')
                    .addCartText
                        | ADD TO CART
            .productInfoNote
                | * Please notice our shipping policy.
