.sidebarTitle
    .sidebarBasketMenu
        a(href="#").sidebarBasketMenuItem.sidebarBasketMenuItemActive DETAILS
        a(href="#").sidebarBasketMenuItem SUMMERY
        a(href="#").sidebarBasketMenuItem PAYMENT
    .sidebarClose
        +svgIcon('icon-close')

.sidebarDetail.sidebarScrollContainer
    .sidebarDetailForm
        .sidebarDetailFormItem
            label.label Email Address *
            input.input
        .sidebarDetailFormSubheader
            .sidebarDetailFormSubheaderText
                | BILLING INFORMATION
            .sidebarDetailFormSubheaderLine
        .sidebarDetailFormItemHalf
            .sidebarDetailFormItem
                label.label First Name *
                input.input
            .sidebarDetailFormItem
                label.label Last Name *
                input.input
        .sidebarDetailFormItem
            label.label Telephone
            input.input
        .sidebarDetailFormItem
            label.label Address
            input.input
        .sidebarDetailFormItem
            label.label Country *
            select.select
                option Russia
                option USA
        .sidebarDetailFormItemHalf
            .sidebarDetailFormItem
                label.label ZIP/Postal Code *
                input.input
            .sidebarDetailFormItem
                label.label City *
                input.input
        .sidebarDetailFormItem
            label.label Country *
            select.select
                option Russia
                option USA
        .sidebarDetailFormSubheader
            .sidebarDetailFormSubheaderText
                | SHIPPING METHODS
            .sidebarDetailFormSubheaderLine
        .sidebarDetailFormItemHalf
            .sidebarDetailFormItem
                input.radio(type='radio' name='shipmethod' id="radio1" checked)
                label.labelRadio(for="radio1") Europe 20 EUR
            .sidebarDetailFormItem

                input.radio(type='radio' name='shipmethod' id="radio2")
                label.labelRadio(for="radio2") International 40 EUR

.sidebarDetailSubmit
    .sidebarSummeryBack
        a(href="#") Back to basket
    .sidebarSummerySubmit
        button.buttonSummery GO TO SUMMERY
