.sidebarTitle
    .sidebarBasketMenu
        a(href="#").sidebarBasketMenuItem DETAILS
        a(href="#").sidebarBasketMenuItem.sidebarBasketMenuItemActive SUMMERY
        a(href="#").sidebarBasketMenuItem PAYMENT
    .sidebarClose
        +svgIcon('icon-close')
.sidebarBasket.sidebarScrollContainer
    .sidebarScroll
        .basketItems
            .basketItemHeader
                | NIKE
            .basketItem
                .basketItemImage
                    img(src='img/product-1.png')
                .basketItemSpacer
                .basketItemName
                    | NIKE AIR HUARACHE RUN PRM <br> NEUTRAL GREY <br> Size 42
                .basketItemPrice
                    | 120.00 EUR
                .basketItemRemove
            .basketItemHeader
                | ADDIBAS
            .basketItem
                .basketItemImage
                    img(src='img/product-1.png')
                .basketItemSpacer
                .basketItemName
                    | NIKE AIR HUARACHE RUN PRM <br> NEUTRAL GREY <br> Size 42
                .basketItemPrice
                    | 120.00 EUR
                .basketItemRemove
.sidebarSummery
    .sidebarSummeryComponents
        .sidebarSummerySubtotal
            .sidebarSummerySubtotalTitle
                | Subtotal
            .sidebarSummerySubtotalPrice
                | 480.00 EUR
        .sidebarSummeryDelivery
            .sidebarSummeryDeliveryTitle
                | SHIPPING
            .sidebarSummeryDeliveryPrice
                | 480.00 EUR
        .sidebarSummeryTax
            .sidebarSummeryTaxTitle
                | TAX
            .sidebarSummeryTaxPrice
                | 480.00 EUR
    .sidebarSummeryTotal
        .sidebarSummeryTotalTitle
            | TOTAL
        .sidebarSummeryTotalPrice
            | 480.00 EUR
    .sidebarSummeryControl
        .sidebarSummeryBack
            a(href="#") Details
        .sidebarSummerySubmit
            button.buttonPayment PAYMENT
