.sidebarTitle
    .sidebarHeader
        | YOUR BASKET
    .sidebarClose
        +svgIcon('icon-close')

.sidebarBasket.sidebarScrollContainer
    .sidebarScroll
        .basketItems
            .basketItemHeader
                | NIKE
            .basketItem
                .basketItemImage
                    img(src='img/product-1.png')
                .basketItemQty
                    .basketItemQtyPlus +
                    input.basketItemQtyInput(value=1)
                    .basketItemQtyMinus -
                .basketItemName
                    | NIKE AIR HUARACHE RUN PRM <br> NEUTRAL GREY <br> Size 42
                .basketItemPrice
                    | 120.00 EUR
                .basketItemRemove
                    +svgIcon('icon-close')
            .basketItem
                .basketItemImage
                    img(src='img/product-1.png')
                .basketItemQty
                    .basketItemQtyPlus +
                    input.basketItemQtyInput(value=1)
                    .basketItemQtyMinus -
                .basketItemName
                    | NIKE AIR HUARACHE RUN PRM <br> NEUTRAL GREY <br> Size 42
                .basketItemPrice
                    | 120.00 EUR
                .basketItemRemove
                    +svgIcon('icon-close')
            .basketItemHeader
                | ADDIBAS
            .basketItem
                .basketItemImage
                    img(src='img/product-1.png')
                .basketItemQty
                    .basketItemQtyPlus +
                    input.basketItemQtyInput(value=1)
                    .basketItemQtyMinus -
                .basketItemName
                    | NIKE AIR HUARACHE RUN PRM <br> NEUTRAL GREY <br> Size 42
                .basketItemPrice
                    | 120.00 EUR
                .basketItemRemove
                    +svgIcon('icon-close')
.sidebarSubTotal
    .sidebarSubTotalWrap
        .sidebarSubTotalText
            | SUBTOTAL
            span Excluding shipping, discounts, and fees
        .sidebarSubTotalPrice
            | 480.00 EUR
.sidebarCheckout
    .sidebarCheckoutLogo
        +svgIcon('logo-black')
    .sidebarCheckoutSubmit
        button.buttonCheckout
            .buttonCheckoutText
                | CHECKOUT
