.mainSlider.swiper-container
    .swiper-wrapper
        .mainSlide.swiper-slide
            .mainSlideImage(style="background-image: url(img/main-slide-1.jpg)")    
            .mainSlideContent
                .mainSlideContentHeader
                    | NEW ADIDAS AIRX    
                .mainSlideContentBottom
                    .mainSlideContentDescription
                        | DIADORA X PATTA
                    .mainSlideContentButton
                        a(href="#").buttonYellowSmall
                            .buttonYellowSmallText shop now
        .mainSlide.swiper-slide
            .mainSlideImage(style="background-image: url(img/main-slide-1.jpg)")    
            .mainSlideContent
                .mainSlideContentHeader
                    | NEW ADIDAS AIRX    
                .mainSlideContentBottom
                    .mainSlideContentDescription
                        | DIADORA X PATTA: "FROM SEOUL TO RIO" PACK
                    .mainSlideContentButton
                        a(href="#").buttonYellowSmall
                            .buttonYellowSmallText shop now
        .mainSlide.swiper-slide
            .mainSlideImage(style="background-image: url(img/main-slide-1.jpg)")    
            .mainSlideContent
                .mainSlideContentHeader
                    | NEW ADIDAS AIRX    
                .mainSlideContentBottom
                    .mainSlideContentDescription
                        | DIADORA X PATTA: "FROM SEOUL TO RIO" PACK
                    .mainSlideContentButton
                        a(href="#").buttonYellowSmall
                            .buttonYellowSmallText shop now
    .mainSliderPrev
        +svgIcon('icon-arrow-left')
    .mainSliderNext
        +svgIcon('icon-arrow-right')
    .swiper-pagination.mainSliderPaggination
