.vendorBar
    a(href="#").vendorItem
        include ../../img/adidas.svg
    a(href="#").vendorItem
        include ../../img/nike.svg
    a(href="#").vendorItem
        include ../../img/newbalance.svg
    a(href="#").vendorItem
        include ../../img/puma.svg
    a(href="#").vendorItem
        include ../../img/reebok.svg
