.header
    display block
    position fixed
    z-index 999
    width 100%
    max-width 100vw
    height auto
    background-color #000
    top 0
    left 0
.headerTop
    position relative
    box horizontal middle space-between
    height 86px
    background-color #000
    z-index 999

.headerLogo
    flex 0 1 auto
    padding-left 130px
    +below(1000px)
        padding-left 30px
    svg
        //fill #fff
        size 100px 63px
        +below(600px)
            size 75px 63px


.headerMenu
    flex 0 2 auto
    box horizontal middle center
    +below(830px)
      display none
.headerMenuItem
    flex 0 1 auto
    margin-right 38px
    a
        color #fcfcfc
        font-family 'Oswald', sans-serif
        font-size 13px
        font-weight 400
        line-height 13px
        font-variant small-caps
        text-decoration none
        transition all .3s
        &:hover
            text-decoration underline
            color #fff

.headerControl
    flex 0 1 auto
    box horizontal middle
.headerLang
    margin-right 38px
    color #fcfcfc
    font-family 'Montserrat', sans-serif
    font-size 13px
    font-weight 400
    line-height 18px
    font-variant small-caps
    text-decoration none
    +below(830px)
        display none
    a
        color #fcfcfc
        text-decoration none
        &:first-child
            padding-right 5px
        &:last-child
            padding-left 5px
.headerSearch
    margin-right 38px
    svg
        size 18px
        fill #fff
    +below(830px)
        display none
.headerLogin
    margin-right 38px
    svg
        fill #fff
        size 18px
    +below(830px)
        margin-right 30px
.headerCart
    margin-right 38px
    position relative
    svg
        fill #fff
        size 23px
    +below(830px)
        margin-right 30px
.headerCartCount
    position absolute
    font-family 'Oswald', sans-serif
    font-size 12px
    line-height 18px
    color #fff
    top -10px
    right -10px
.headerMobileMenu
    display none
    margin-right 38px
    svg
        fill #fff
        size 30px
    +below(830px)
        display block
        margin-right 30px


.headroom--not-top
    position fixed
.headroom--top
    margin-bottom 72px;

.animated
    &.slideDown
        .vendorBar
            animation-name slideDown
            animation-duration .5s
            animation-fill-mode both

    &.slideUp
        .vendorBar
            animation-name slideUp
            animation-duration .5s
            animation-fill-mode both

@keyframes slideDown {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}


@keyframes slideUp {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-100%);
  }
}
