.menuMobile
    display block
    position fixed
    right 0
    padding 20px 0 20px 40px
    width 80vw
    height 100vh
    z-index 10000
    background-color rgba(0,0,0,.7)
    transform translateX(100%)
    transition transform .4s easeOutExpo
    visibility hidden
    pointer-events none
.menuMobileShow
    transform translateX(0)
    visibility visible
    pointer-events all
.menuMobileSearch
    display block
    position relative
    padding-bottom 20px
    padding-right 20px
    border-bottom 1px solid #fff
    margin-bottom 20px
.menuMobileSearchInput
    border 0
    background-color rgba(255,255,255, .7)
    height 40px
    color #fff
    padding-left 40px

.menuMobileSearchInputIcon
    position absolute
    top 10px
    left 10px
    svg
        size 20px
        fill #fff
.menuMobileItems
    box vertical top left
.menuMobileItem
    flex 0 1 auto
    padding-bottom 20px
    padding-right 20px
    border-bottom 1px solid #fff
    margin-bottom 20px
    align-self stretch
    a
        color #fcfcfc
        font-family 'Oswald', sans-serif
        font-size 15px
        font-weight 400
        line-height 20px
        //font-variant small-caps
        text-decoration none
        transition all .3s
        &:hover
            text-decoration underline
            color #fff

.menuMobileLang
    margin-right 38px
    color #fcfcfc
    font-family 'Oswald', sans-serif
    font-size 15px
    font-weight 400
    line-height 18px
    font-variant small-caps
    text-decoration none
    +below(830px)
        margin-right 30px
    a
        color #fcfcfc
        text-decoration none
        &:first-child
            padding-right 10px
        &:last-child
            padding-left 10px
