.vendorBar
    display block
    position absolute
    width 100%
    box horizontal middle center
    background-color #cac0b8
    height 72px
    z-index 900
    transition transform
    +below(768px)
        display none
.vendorItem
    margin-right 60px
    height 50px
    cursor pointer
    &:last-child
        margin-right 0
    svg
        size 50px
        fill #726d6a
        transition all .4s
        *
            fill #726d6a
            transition all .4s
    &:hover
        svg
            fill #fff
            *
                fill #fff
