.swiper-container
    margin 0 auto
    position relative
    overflow hidden
    z-index 1
.swiper-container-no-flexbox
    .swiper-slide
        float left

.swiper-container-vertical
    & > .swiper-wrapper
        box-orient vertical
        flex-direction column

.swiper-wrapper
    position relative
    width 100%
    height 100%
    z-index 1
    display flex
    transition-property transform
    box-sizing content-box

.swiper-container-android .swiper-slide,
    .swiper-wrapper
        transform translate3d(0px, 0, 0)

.swiper-container-multirow
    & > .swiper-wrapper
        flex-wrap wrap

.swiper-container-free-mode
    & > .swiper-wrapper
        transition-timing-function ease-out
        margin 0 auto

.swiper-slide
    flex-shrink 0
    width 100%
    height 100%
    position relative
    box horizontal middle
  text-align center

.swiper-container-autoheight,
.swiper-container-autoheight .swiper-slide
    height auto

.swiper-container-autoheight
    .swiper-wrapper
        align-items flex-start
        transition-property transform, height

.swiper-container
    .swiper-notification
        position absolute
        left 0
        top 0
        pointer-events none
        opacity 0
        z-index -1000

.swiper-wp8-horizontal
    touch-action pan-y

.swiper-wp8-vertical
    touch-action pan-x


.swiper-pagination
    position absolute
    text-align center
    transition 300ms
    transform translate3d(0, 0, 0)
    z-index 10
    &.swiper-pagination-hidden
        opacity 0

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets
    bottom 10px
    left 0
    width 100%

.swiper-pagination-bullet
    width 8px
    height 8px
    display inline-block
    border-radius 100%
    background #000
    opacity .2

button
    &.swiper-pagination-bullet
        border 0
        margin 0
        padding 0
        box-shadow none
        appearance none

.swiper-pagination-clickable
    .swiper-pagination-bullet
        cursor pointer

.swiper-pagination-white
    .swiper-pagination-bullet
        background #fff
    .swiper-pagination-bullet-active
        background #fff

.swiper-pagination-bullet-active
    opacity 1
    background #007aff

.swiper-pagination-black
    .swiper-pagination-bullet-active
        background #000

.swiper-container-vertical
    & > .swiper-pagination-bullets
        right 10px
        top 50%
        transform translate3d(0px, -50%, 0)
        .swiper-pagination-bullet
            margin 5px 0
            display block
    & > .swiper-pagination-progress
        width 4px
        height 100%
        left 0
        top 0

.swiper-container-horizontal
    & > .swiper-pagination-bullets
        .swiper-pagination-bullet
            margin 0 5px
    & > .swiper-pagination-progress
        width 100%
        height 4px
        left 0
        top 0

.swiper-pagination-progress
    background rgba(0, 0, 0, .25)
    position absolute
    .swiper-pagination-progressbar
        background #007aff
        position absolute
        left 0
        top 0
        width 100%
        height 100%
        transform scale(0)
        transform-origin left top
    &.swiper-pagination-white
        background rgba(255, 255, 255, .5)
        .swiper-pagination-progressbar
            background #fff
    &.swiper-pagination-black
        .swiper-pagination-progressbar
            background #000

.swiper-container-rtl
    .swiper-pagination-progress
        .swiper-pagination-progressbar
            transform-origin right top

.swiper-container-3d
    perspective 1200px

.swiper-container-3d .swiper-wrapper,
.swiper-container-3d .swiper-slide,
.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom,
.swiper-container-3d .swiper-cube-shadow
    transform-style preserve-3d

.swiper-container-3d .swiper-slide-shadow-left,
.swiper-container-3d .swiper-slide-shadow-right,
.swiper-container-3d .swiper-slide-shadow-top,
.swiper-container-3d .swiper-slide-shadow-bottom
    position absolute
    left 0
    top 0
    width 100%
    height 100%
    pointer-events none
    z-index 10


.swiper-container-3d
    .swiper-slide-shadow-left
        background-image linear-gradient(to left, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
    .swiper-slide-shadow-right
        background-image linear-gradient(to right, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
    .swiper-slide-shadow-top
        background-image linear-gradient(to top, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))
    .swiper-slide-shadow-bottom
        background-image linear-gradient(to bottom, rgba(0, 0, 0, .5), rgba(0, 0, 0, 0))



.swiper-container-cube,
.swiper-container-flip
    overflow visible

.swiper-container-cube .swiper-slide,
.swiper-container-flip .swiper-slide
    pointer-events none
    backface-visibility hidden
    z-index 1

.swiper-container-cube .swiper-slide .swiper-slide,
.swiper-container-flip .swiper-slide .swiper-slide
    pointer-events none

.swiper-container-cube .swiper-slide-active,
.swiper-container-flip .swiper-slide-active,
.swiper-container-cube .swiper-slide-active .swiper-slide-active,
.swiper-container-flip .swiper-slide-active .swiper-slide-active
    pointer-events auto

.swiper-container-cube .swiper-slide-shadow-top,
.swiper-container-flip .swiper-slide-shadow-top,
.swiper-container-cube .swiper-slide-shadow-bottom,
.swiper-container-flip .swiper-slide-shadow-bottom,
.swiper-container-cube .swiper-slide-shadow-left,
.swiper-container-flip .swiper-slide-shadow-left,
.swiper-container-cube .swiper-slide-shadow-right,
.swiper-container-flip .swiper-slide-shadow-right
    z-index 0
    backface-visibility hidden

.swiper-container-cube
    .swiper-slide
        visibility hidden
        transform-origin 0 0
        width 100%
        height 100%
    &.swiper-container-rtl
        .swiper-slide
            transform-origin 100% 0
    .swiper-cube-shadow
        position absolute
        left 0
        bottom 0
        width 100%
        height 100%
        background #000
        opacity .6
        filter blur(50px)
        z-index 0

.swiper-container-cube .swiper-slide-active,
.swiper-container-cube .swiper-slide-next,
.swiper-container-cube .swiper-slide-prev,
.swiper-container-cube .swiper-slide-next + .swiper-slide
    pointer-events auto
    visibility visible

.swiper-container-fade
    &.swiper-container-free-mode
        .swiper-slide
            transition-timing-function ease-out
    .swiper-slide
        pointer-events none
        transition-property opacity
        .swiper-slide
            pointer-events none

.swiper-container-fade .swiper-slide-active,
.swiper-container-fade .swiper-slide-active .swiper-slide-active
    pointer-events auto

.swiper-scrollbar
    border-radius 10px
    position relative
    background rgba(0, 0, 0, .1)

.swiper-container-horizontal
    & > .swiper-scrollbar
        position absolute
        left 1%
        bottom 3px
        z-index 50
        height 5px
        width 98%

.swiper-container-vertical
    & > .swiper-scrollbar
        position absolute
        right 3px
        top 1%
        z-index 50
        width 5px
        height 98%

.swiper-scrollbar-drag
    height 100%
    width 100%
    position relative
    background rgba(0, 0, 0, .5)
    border-radius 10px
    left 0
    top 0

.swiper-scrollbar-cursor-drag
    cursor move

.swiper-lazy-preloader
    width 42px
    height 42px
    position absolute
    left 50%
    top 50%
    margin-left -21px
    margin-top -21px
    z-index 10
    transform-origin 50%
    animation swiper-preloader-spin 1s steps(12, end) infinite


.swiper-lazy-preloader
    &:after
        display block
        content ""
        width 100%
        height 100%
        background-image url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%236c6c6c'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")
        background-position 50%
        background-size 100%
        background-repeat no-repeat

.swiper-lazy-preloader-white
    &:after
        background-image url("data:image/svg+xml;charset=utf-8,%3Csvg%20viewBox%3D'0%200%20120%20120'%20xmlns%3D'http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg'%20xmlns%3Axlink%3D'http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink'%3E%3Cdefs%3E%3Cline%20id%3D'l'%20x1%3D'60'%20x2%3D'60'%20y1%3D'7'%20y2%3D'27'%20stroke%3D'%23fff'%20stroke-width%3D'11'%20stroke-linecap%3D'round'%2F%3E%3C%2Fdefs%3E%3Cg%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(30%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(60%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(90%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(120%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.27'%20transform%3D'rotate(150%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.37'%20transform%3D'rotate(180%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.46'%20transform%3D'rotate(210%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.56'%20transform%3D'rotate(240%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.66'%20transform%3D'rotate(270%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.75'%20transform%3D'rotate(300%2060%2C60)'%2F%3E%3Cuse%20xlink%3Ahref%3D'%23l'%20opacity%3D'.85'%20transform%3D'rotate(330%2060%2C60)'%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E")


@keyframes swiper-preloader-spin
  100%
    transform rotate(360deg)
