.pagginator
    display block
    margin-bottom 20px
    box vertical middle center

.pagginatorItems
    box horizontal middle
    margin-bottom 10px
    color #000
    padding 0 5px
    font-family 'Oswald', sans-serif
    font-size 14px
    font-weight 400
    line-height 14px
    a
        color #000
        padding 0 5px
        margin-right 5px
        font-family: 'Oxygen', sans-serif;
        font-size 14px
        font-weight 400
        line-height 14px
        border-bottom 1px solid transparent
        //font-variant small-caps
        text-decoration none
        transition all .3s
        &:hover
            text-decoration underline

.pagginatorItemActive
    font-weight 700 !important
    font-size 16px !important
.pagginatorInfo
    font-family: 'Oxygen', sans-serif;
    font-size 13px
    font-weight 400
    line-height 18px
    font-variant small-caps
