.label
    font-family 'Oswald', sans-serif
    font-size 12px
    line-height 18px
    margin-bottom 5px
.labelRadio
    font-family 'Oswald', sans-serif
    font-size 12px
    line-height 18px
    margin-bottom 5px
    box horizontal middle
    input
        margin-left 20px
