.footer
    display block
    position fixed
    bottom 0
    width 100%
    height auto
    max-width 100vw
    +below(600px)
        position relative
        box vertical top
.footerMenu
    position relative
    z-index 10000
    //border-top 1px solid #828282
    box horizontal middle space-between
    background-color #000
    animation-name slideDownFooter
    transform translateY(38px)
    +below(600px)
        box vertical top center
        width 100%
        transform translateY(0)
        padding-bottom 30px
        border-bottom 1px solid #828282
.footerMenuItem
    flex 1 1 auto
    height 45px
    padding 23px 0
    border-top 1px solid #828282

    background-color #000
    border-right 1px solid #828282
    box vertical middle center
    +below(600px)
        width 80vw
        height auto
        min-height 64px
        border-left 1px solid #828282
        &:last-child
            border-bottom 1px solid #828282
    &:last-child
        border-right 0
        +below(600px)
            border-right 1px solid #828282
    a
        color #fff
        font-family: 'Oxygen', sans-serif
        font-size 18px
        line-height 18px
        font-weight 400
        font-variant small-caps
        text-decoration none
.footerMenuItemMobile
    display none
    +below(600px)
        display block
        padding-top 20px
        box horizontal middle
        a
            margin-right 20px
            &:last-child
                margin-right 0
            svg
                size 20px
                *
                    fill #fff !important
.footerMenuItemPopupItems
    position: absolute
    bottom -200px
    width:100%;
    z-index:10;
    +below(600px)
        display none
.footerMenuItemPopup
    display: block
    position: absolute
    z-index: 10
    width 100%
    bottom 0
    left 0
    height: 150px;
    transform: translateZ(0);
    background-color: #000;
    animation-name footerMenuItemPopupDown
    animation-duration .5s
    animation-fill-mode both
    box vertical top center
    padding-top 30px
.footerMenuItemPopupHeader
    font-family 'Oswald', sans-serif
    font-size 16px
    font-weight 400
    line-height 30px
    font-variant small-caps
    color #fff
.footerMenuItemPopupContent
    color #fff
    font-family 'Montserrat', sans-serif
    font-size 13px
    font-weight 400
    line-height 18px
    font-variant small-caps
    p
        margin-bottom 5px
    a
        display block
        text-align center
        text-decoration none
        color #fff
        &:hover
            text-decoration underline
.footerMenuItemPopupSocial
    box horizontal middle center
    padding-top 12px
    a
        margin-right 30px
        &:last-child
            margin-right 0
        svg
            size 30px

            *
                transition all .4s
                fill #fff !important
            &:hover
                *
                    fill #cac0b8 !important
.footerMenuItemPopupShow
    animation-name footerMenuItemPopupUp
    animation-duration .5s
    animation-fill-mode both
    display flex !important
@keyframes footerMenuItemPopupDown {
    0% {
        transform: translateY(calc(-100%));

    }

    100% {
            transform: translateY(0px);
    }
}

@keyframes footerMenuItemPopupUp {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(calc(-100% - 93px));
    }
}

.footerBottom
    z-index 9000
    position: relative
    left 0
    bottom 0
    box horizontal middle space-between
    background-color #e4dedb
    transform translateZ(0)
    height 38px
    padding 0 62px
    +below(600px)
        box vertical
        height auto
        padding 0 20px
.footerBottomMenu
    box horizontal middle
    z-index 9000
    position: relative
    background-color #e4dedb
    +below(600px)
        box horizontal middle left
        padding 10px 0
        flex-wrap nowrap
        width 100%
.footerBottomMenuItem
    margin-right 18px
    color #000
    font-family: 'Oxygen', sans-serif
    font-size 16px
    font-weight 400
    font-variant small-caps
    text-decoration none
    white-space nowrap
    +below(600px)
        //lost-column 1/2 2
        //margin-bottom 5px
        margin-right 10px
        font-size 11px
.footerCopyRight
    color #000
    font-family: 'Oxygen', sans-serif
    font-size 16px
    font-weight 400
    font-variant small-caps
    text-decoration none
    +below(600px)
        width 100%
        margin-bottom 10px
        font-size 11px
.footerAnimate
    &.slideDown

        .footerMenu
            animation-name slideUpFooter
            animation-duration .5s
            animation-fill-mode both

    &.slideUp
        .footerMenuItemPopupItems
            bottom -162px
        .footerMenu
            animation-name slideDownFooter
            animation-duration .5s
            animation-fill-mode both

@keyframes slideDownFooter {
    0% {
        transform: translateY(-38px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes slideUpFooter {
    0% {
        transform: translateY(0);
    }

    100% {
        transform: translateY(38px);
    }
}
